:root{ --slcr-container-width: 1170px; }

/*
  WPBakery full-width rows are usually positioned by WP JS (inline styles).
  In this static build we override those inline styles with !important.
*/
.vc_row[data-vc-full-width="true"]{
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  width: 100vw !important;
  max-width: 100vw !important;
  box-sizing: border-box !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  padding-left: calc((100vw - var(--slcr-container-width)) / 2) !important;
  padding-right: calc((100vw - var(--slcr-container-width)) / 2) !important;
}

@media (max-width: 1230px){
  .vc_row[data-vc-full-width="true"]{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* VC helper div */
.vc_row-full-width.vc_clearfix{height:0 !important;}
