/*-------------------------------------

WOOCOMMERCE

---------------------------------------*/

.shop__search {
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    color: #333;
    font-size: 15px;
    padding: 0 10px;
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 600;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
    font-size: 15px;
    line-height: normal;
    margin-right: 10px;
}

.woocommerce div.product .product_title {
    font-weight: 600;
    line-height: normal;
    font-size: 25px !important;
    margin-bottom: 0;
}

.woocommerce .woocommerce-product-details__short-description {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.woocommerce .woocommerce-product-details__short-description p {
    font-size: 15px;
    margin-bottom: 0;
    padding: 5px 0;
}

.woocommerce div.product .woocommerce-product-rating {
    margin: 0;
}

.woocommerce-product-details__short-description {
    margin: 20px 0;
}

.woocommerce .woocommerce-Price-amount {
    text-decoration: none;
}

.woocommerce .product-type-grouped .woocommerce-Price-amount {
    font-size: 15px;
}

.woocommerce-Price-currencySymbol {
    font-weight: normal;
    margin-right: 5px;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
    text-decoration: none;
}

.woocommerce div.product p.stock {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.woocommerce div.product form.cart div.quantity {
    display: block;
}

@media (min-width: 1200px) {
    .woocommerce div.product form.cart div.quantity {
        width: 25%;
        float: left;
        margin: 0;
    }
    .woocommerce div.product form.cart .button {
        width: 74%;
        float: right;
        padding: 17px;
    }
}

.woocommerce div.product.product-type-grouped form.cart .button {
    float: left;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: none;
}

.woocommerce .dec,
.woocommerce .inc {
    background: none;
    float: left;
    padding: 8px;
    height: 48px;
    border: 1px solid #cecece;
}

.woocommerce .dec {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.woocommerce .inc {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.woocommerce .dec {
    border-right: none;
}

.woocommerce .inc {
    border-left: none;
}

.woocommerce .dec:hover,
.woocommerce .inc:hover {
    background: #fafafa;
}

.woocommerce div.product input.qty {
    float: left;
    border-radius: 0;
    height: 48px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.woocommerce .dec:focus,
.woocommerce .inc:focus,
.woocommerce .qty:focus {
    outline: none;
}

.woocommerce .entry-summary .posted_in a,
.woocommerce .entry-summary .tagged_as a {
    display: inline-block;
    background: #eee;
    padding: 5px;
    font-size: 11px;
    color: #555;
    font-weight: 600;
    border-radius: 3px;
}

.woocommerce div.product input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    width: 30px;
    padding: 15px 0;
}

.woocommerce div.product input[type=number]::-webkit-inner-spin-button,
.woocommerce div.product input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.woocommerce div.product .sku_wrapper {
    display: block;
    font-size: 13px;
    margin: 10px 0;
    color: rgba(119, 119, 119, 0.7);
}

.woocommerce div.product .posted_in,
.woocommerce div.product .tagged_as {
    display: block;
    font-size: 13px;
    color: rgba(119, 119, 119, 0.7);
    margin-bottom: 5px;
}

.woocommerce div.product p.cart {
    margin: 2em 0;
}

.woocommerce-privacy-policy-text p {
    font-size: 14px;
    margin-bottom: 15px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    font-weight: normal;
    padding: 13px 60px;
}

.woocommerce .woocommerce-message a {
    padding: 13px 32px;
}

.woocommerce .woo-btn-icon {
    margin-left: 10px;
}

.woocommerce div.product div.summary {
    padding-top: 30px;
}

@media (max-width: 992px) {
    .woocommerce div.product div.summary {
        padding-left: 0;
        padding-top: 0;
    }
}

.woocommerce .woocommerce-product-rating .star-rating {
    font-size: 12px;
    margin: .7em 4px 10px 0;
}

.woocommerce .star-rating span::before {
    font-size: 12px;
}

.woocommerce-review-link {
    font-size: 12px;
    vertical-align: text-bottom;
}

.woocommerce .woocommerce-breadcrumb {
    margin: 30px 0;
    font-size: 14px;
    font-weight: 600;
    color: rgba(119, 119, 119, 0.33);
}

.woocommerce .woocommerce-breadcrumb i {
    color: #777;
    font-size: 15px;
}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
    text-align: center;
    padding-top: 40px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    text-align: initial;
    box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 0;
    margin: 0;
    padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: transparent;
    z-index: 2;
    font-weight: 600;
    border-bottom: 2px solid;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: 1px solid #d3ced2;
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 0;
    content: ' ';
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 14px;
    padding: 15px 0;
}

.woocommerce .variations tbody {
    display: block;
    float: left;
    width: 100%;
    margin: 15px 0;
}

.woocommerce .variations tbody tr,
.woocommerce .variations tbody td {
    width: 100%;
    float: left;
    text-align: left;
}

.woocommerce .variations label {
    margin-bottom: 0;
    margin-top: 10px;
}

.woocommerce div.product form.cart .variations select {
    max-width: 100%;
    min-width: 100%;
    border-radius: 3px;
    display: inline-block;
    margin-right: 1em;
    padding: 12px 5px;
    cursor: pointer;
    font-size: 15px;
    border-color: #cecece;
}

.woocommerce div.product form.cart .variations select:focus {
    outline: none;
    border-color: #ccc;
}

.woocommerce-variation-price .price {
    display: inline-block;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.woocommerce table.group_table {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.woocommerce-grouped-product-list-item__quantity {
    padding: 0;
}

.woocommerce div.product form.cart .group_table td {
    width: auto !important;
}

.woocommerce div.product form.cart .variations label {
    opacity: .4;
}

@media (max-width: 480px) {
    .woocommerce div.product form.cart .group_table td:first-child {
        float: left;
        width: 5em !important;
    }
    .woocommerce div.product form.cart .group_table td.label {
        float: left;
        padding: 10px 0;
    }
    .woocommerce div.product form.cart .group_table td.price {
        float: left;
        padding: 4px 20px;
    }
}

.woocommerce #reviews #comments h2,
.woocommerce #tab-additional_information h2 {
    font-size: 18px !important;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 600;
    text-transform: capitalize;
}

.woocommerce #review_form #respond p {
    font-size: 14px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 50px;
    padding: 0;
    border-radius: 50px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 70px;
    padding: 0 10px;
    border: none;
}

.woocommerce-Reviews #comments {
    width: 45%;
    float: left;
    padding: 15px;
}

.woocommerce-Reviews #review_form_wrapper {
    width: 50%;
    float: right;
    padding: 15px;
}

@media(max-width:767px) {
    .woocommerce-Reviews #comments,
    .woocommerce-Reviews #review_form_wrapper {
        width: 100%;
        padding: 0;
    }
}

.woocommerce .commentlist .star-rating {
    float: left;
    display: block;
    width: 4em;
}

.woocommerce .commentlist .star-rating::before {
    font-size: 12px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    width: 100%;
    float: left;
}

.woocommerce #reviews #comments ol.commentlist {
    padding: 0;
}

.woocommerce #review_form .comment-respond {
    box-shadow: none;
    height: auto;
}

.woocommerce #review_form #respond textarea {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
}

.woocommerce #review_form #respond input {
    border: 1px solid #eee;
    height: 40px;
    font-size: 13px;
    padding: 10px;
    border-radius: 4px;
    width: 95%;
}

.woocommerce #review_form #respond textarea:focus,
.woocommerce #review_form #respond input {
    outline: none;
}

.woocommerce .onsale {
    height: 40px;
    width: 40px;
    line-height: 39px !important;
    top: 10px !important;
    left: 9% !important;
}

.woocommerce .comment-form-author,
.woocommerce .comment-form-email {
    width: 50%;
    float: left;
}

@media (max-width: 992px) {
    .woocommerce .comment-form-author,
    .woocommerce .comment-form-email {
        width: 100%;
    }
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    font-size: 14px;
    line-height: 1.5;
}

.woocommerce .comment-form-rating {
    margin-bottom: 13px;
}

.woocommerce p.stars a {
    width: 25px;
}

.woocommerce p.stars a::before {
    font-size: 20px;
}

.woocommerce #reviews .comment-reply-title,
.woocommerce .comment-notes {
    display: none;
}

.woocommerce .comment-form-author label,
.woocommerce .comment-form-email label {
    display: ;
}

.woocommerce #review_form {
    background: #fafafa;
    padding: 30px;
    border-radius: 4px;
}

@media(max-width: 767px) {
    .woocommerce #review_form {
        padding: 20px 10px;
    }
}

.woocommerce .comment-respond form {
    padding-bottom: 0;
}

.woocommerce #review_form #respond .form-submit .submit {
    width: auto;
    height: auto;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px 60px;
}

.woocommerce .product-wrap {
    display: block;
    overflow: hidden;
}

.woocommerce .product-wrap img {
    margin-bottom: 0 !important;
}

.woocommerce .product-wrap .product-main-images {
    position: relative;
}

.woocommerce .product-wrap .product-hover-image {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.woocommerce .product-wrap:hover .product-hover-image {
    opacity: 1;
}

.woocommerce ul.products li.product .product-wrap .woocommerce-loop-product__title {
    font-size: 17px !important;
    font-weight: 600;
    margin-top: 10px;
    overflow: hidden;
}

.woocommerce ul.products li.product .product-wrap .price {
    margin-top: 0;
    color: #777;
}

.woocommerce ul.products li.product .product-wrap .price del {
    display: inline-block;
    margin-right: 10px;
}

.woocommerce ul.products li.product .price ins {
    font-weight: normal;
    text-decoration: none;
}

.woocommerce ul.products li.product .product-wrap .star-rating {
    display: none;
}

.woocommerce ul.products li.product .product-wrap .button {
    margin: 0;
    background: #fff;
    color: #777;
    padding: 0;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    visibility: hidden;
    transform: scale(0);
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.woocommerce ul.products li.product .product-wrap .button i {
    line-height: 34px;
}

.woocommerce ul.products li.product .product-wrap .button:hover,
.woocommerce ul.products li.product .product-wrap .button.added {
    background: #fff;
}

.woocommerce ul.products li.product .product-wrap:hover .button {
    visibility: visible;
    transform: scale(1);
}

.woocommerce ul.products li.product .product-wrap .button.added i {
    display: none;
}

.woocommerce #respond input#submit.added::after,
.woocommerce a.button.added::after,
.woocommerce button.button.added::after,
.woocommerce input.button.added::after {
    margin-left: 0;
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
    font-family: ElegantIcons;
    content: '\e02d';
    color: #000;
    opacity: 1;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 8px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.woocommerce ul[data-product-type="minimal"] li.product .onsale,
.woocommerce ul[data-product-type="modern"] li.product .onsale {
    min-height: 0;
    min-width: 0;
    line-height: normal !important;
    height: auto;
    font-size: 11px;
    font-weight: 600;
    left: 10px !important;
    top: 15px !important;
    padding: 3px;
    border-radius: 3px;
}

.woocommerce .product-wrap a.added_to_cart {
    padding-top: .5em;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    bottom: 76px;
    font-weight: 600;
    right: 5px;
    font-size: 12px;
    padding: 5px 10px;
    color: #fff;
}

.woocommerce [data-product-type="modern"] .product-meta {
    float: left;
    width: 100%;
    border: 1px solid #eee;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
}

.woocommerce [data-product-type="modern"] .product-wrap {
    border-radius: 4px;
    overflow: hidden;
    transition: all ease .3s;
}

.woocommerce [data-product-type="modern"] .product-wrap:hover {
    box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.07);
}

.woocommerce ul.products[data-product-type="modern"] li.product .product-wrap .woocommerce-loop-product__title {
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.woocommerce ul.products[data-product-type="modern"] li.product .product-wrap .product-meta .posted_in a {
    font-size: 11px;
    color: #777;
}

.woocommerce ul.products[data-product-type="modern"] li.product .product-wrap .product-meta .posted_in a:hover {
    text-decoration: underline;
}

.woocommerce ul.products[data-product-type="modern"] li.product .product-wrap .price {
    margin: 8px 0 0 0;
}

.woocommerce ul.products[data-product-type="modern"] li.product .product-wrap .button {
    bottom: 12px;
    color: #777;
    border: 1px solid #eee;
    right: 10px;
    top: initial;
    transform: scale(1);
    visibility: visible;
}

.woocommerce ul.products[data-product-type="modern"] li.product .product-wrap .button i {
    font-size: 15px;
}

.woocommerce [data-product-type="minimal"] .product-wrap a.added_to_cart {
    display: none !important;
}

.woocommerce [data-product-type="modern"] .product-wrap a.added_to_cart {
    bottom: initial;
    right: 10px;
    top: 10px;
    opacity: 0;
    padding: 3px 7px;
    transition: all ease .3s;
}

.woocommerce [data-product-type="modern"] .product-wrap:hover a.added_to_cart {
    opacity: 1;
}

.woocommerce [data-product-type="modern"] #respond input#submit.added::after,
.woocommerce [data-product-type="modern"] a.button.added::after,
.woocommerce [data-product-type="modern"] button.button.added::after,
.woocommerce [data-product-type="modern"] input.button.added::after {
    font-family: ElegantIcons;
    content: '\e07a';
    font-size: 15px;
    vertical-align: bottom;
}

.woocommerce ul[data-product-type="minimal"] .product-wrap .posted_in a {
    color: #777;
    font-size: 12px;
}

.woocommerce ul[data-product-type="minimal"] .product-wrap .posted_in a:hover {
    text-decoration: underline;
}

.woocommerce ul[data-product-type="minimal"][data-card-text="center"] .product-wrap .product-meta {
    text-align: center;
}

.woocommerce ul[data-product-type="minimal"][data-card-text="right"] .product-wrap .product-meta {
    text-align: right;
}

.woocommerce ul[data-product-type="minimal"] del .woocommerce-Price-amount {
    font-size: 13px;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
}

.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 30px;
    border: none;
    margin: 2px;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
    border-radius: 4px;
    font-weight: 600;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    color: #fff;
}

.woocommerce .price_slider {
    margin-bottom: 1em;
}

.woocommerce .widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: normal;
    font-size: 12px;
}

.woocommerce .widget_layered_nav_filters ul li {
    display: block;
    width: 100%;
}

.woocommerce .price_slider_amount .button {
    font-size: 1.15em;
}

.woocommerce .price_slider_amount .button,
.woocommerce .price_slider_amount .button:hover {
    float: left;
    padding: 0;
    background: none;
    opacity: 1;
    outline: none;
}

.woocommerce .ui-slider {
    position: relative;
    text-align: left;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    border: 1px solid #eee;
    cursor: pointer;
    background: #fff;
    top: -4px;
    box-shadow: 0 5px 17px 0 rgba(43, 43, 49, .11)!important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #f5f5f5;
}

.woocommerce .ui-slider-horizontal {
    height: 5px;
}

.woocommerce .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.woocommerce .ui-slider-horizontal .ui-slider-range-min {
    left: 0px;
}

.woocommerce .ui-slider-horizontal .ui-slider-range-max {
    right: 0px;
}

.woocommerce .woocommerce-ordering select {
    height: 40px;
    border-color: #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}

.woocommerce-products-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.woocommerce-products-header h1 {
    display: inline-block;
    float: left;
    font-size: 25px;
    margin: 0;
    margin-right: 10px;
    font-weight: 600;
}

.woocommerce-products-header p {
    font-size: 14px;
    padding-top: 5px;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: left;
    width: 100%;
}

.woocommerce table.shop_table {
    border: none;
    position: relative;
}

.woocommerce table.shop_table td {
    border-top: 1px solid #eee;
    padding: 15px 20px;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 60px;
    box-shadow: none;
}

.woocommerce table.shop_table td.product-name a {
    font-weight: 600;
    font-size: 15px;
}

.woocommerce a.remove {
    display: block;
    font-size: 12px !important;
    height: auto;
    width: auto;
    text-align: left;
    line-height: 1;
    border-radius: 100%;
    text-decoration: none;
    font-weight: normal;
    border: 0;
    margin-top: 5px;
}

.woocommerce .woocommerce-cart-form .woocommerce-Price-amount {
    font-size: 15px;
}

.woocommerce .woocommerce-cart-form .quantity {
    display: inline-block;
}

.woocommerce .woocommerce-cart-form .product-price,
.woocommerce .woocommerce-cart-form .product-quantity,
.woocommerce .woocommerce-cart-form .product-subtotal {
    text-align: right;
}

.woocommerce .woocommerce-cart-form input.qty {
    float: left;
    height: 48px;
    width: 30px;
    padding: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.woocommerce .woocommerce-cart-form input[type="number"] {
    -moz-appearance: textfield;
}

.woocommerce .woocommerce-cart-form input[type=number]::-webkit-inner-spin-button,
.woocommerce .woocommerce-cart-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.woocommerce .cart-collaterals {
    padding: 30px;
    border-radius: 5px;
    background: #fafafa;
}

.woocommerce .cart-collaterals h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.woocommerce .cart-subtotal,
.woocommerce .order-total,
.woocommerce .cart-discount,
.woocommerce .shipping,
.woocommerce .product-total {
    text-align: right;
}

.woocommerce .cart-subtotal th,
.woocommerce .order-total th,
.woocommerce .cart-discount th,
.woocommerce .shipping th {
    padding-left: 0px !important;
    width: 50% !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    vertical-align: middle !important;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    margin-bottom: 0;
    padding: 18px 0;
    font-size: 16px;
}

.woocommerce .cart__update .update-cart {
    margin-bottom: 10px;
    padding: 15px 40px;
    font-size: 15px;
}

.woocommerce .cart__update input.button:disabled,
.woocommerce .cart__update input.button:disabled[disabled] {
    padding: 15px 40px;
}

.woocommerce .wcppec-checkout-buttons__separator {
    color: #aaa;
    padding: 15px 0;
    text-align: center;
}

.woocommerce .woocommerce-remove-coupon {
    font-size: 12px;
    padding-left: 5px;
}

.woocommerce .woocommerce-cart-form .coupon {
    text-align: center;
    padding: 30px 10px;
    margin: 50px 0;
    border: 1px solid #eee;
    border-radius: 5px;
}

.woocommerce .woocommerce-cart-form .coupon h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.woocommerce .woocommerce-cart-form .coupon .input-text {
    border: 1px dashed #eee;
    outline: none;
}

.woocommerce .coupon .input-text {
    margin-bottom: 0;
}

.woocommerce .coupon input.button {
    padding: 18px 30px;
    font-weight: 500;
    font-size: 14px;
}

@media(max-width: 480px) {
    .woocommerce .coupon input.button {
        width: 100%;
    }
    .woocommerce .input-text {
        width: 100%;
        margin-bottom: 10px !important;
    }
}

.woocommerce .input-text {
    border: 1px solid #d8dae0;
    padding: 14px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 20px;
    max-width: 100%;
}

.woocommerce .select2-container .select2-selection--single {
    height: 45px;
    border: 1px solid #d8dae0;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #797b79;
    line-height: initial;
    padding: 12px;
    font-size: 14px;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 10px;
    top: 10px;
}

.woocommerce .checkout.woocommerce-checkout .input-checkbox {
    display: inline-block;
    margin: 10px 8px 0 0;
}

.woocommerce .checkout.woocommerce-checkout textarea {
    min-height: 150px;
}

.woocommerce .checkout.woocommerce-checkout .create-account span {
    padding-left: 30px;
    position: relative;
    top: 5px;
}

.woocommerce .checkout.woocommerce-checkout .create-account {
    margin: 30px 0;
}

.woocommerce .woocommerce-billing-fields label {
    margin-top: 15px;
}

.woocommerce table.shop_table td.product-name a.remove {
    font-weight: normal;
}

.woocommerce .cross-sells h2 {
    font-size: 1.4em;
    margin-bottom: 30px;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 50%;
}

@media (max-width: 768px) {
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: transparent;
    }
}

.woocommerce #add_payment_method #payment,
.woocommerce .woocommerce-cart #payment,
.woocommerce .woocommerce-checkout #payment {
    background: none;
}

.woocommerce #add_payment_method #payment ul.payment_methods,
.woocommerce .woocommerce-cart #payment ul.payment_methods,
.woocommerce .woocommerce-checkout #payment ul.payment_methods {
    border: 1px solid #d8dae0;
    border-radius: 5px;
    padding: 1.3em 1em;
}

.woocommerce .woocommerce-checkout-payment .button {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    font-weight: 500;
    transition: all ease .3s;
}

.woocommerce .woocommerce-checkout-payment .button:hover {
    opacity: .9;
}

.woocommerce #add_payment_method #payment div.form-row,
.woocommerce .woocommerce-cart #payment div.form-row,
.woocommerce .woocommerce-checkout #payment div.form-row {
    padding: 1em 0;
}

.woocommerce #add_payment_method #payment div.payment_box,
.woocommerce .woocommerce-cart #payment div.payment_box,
.woocommerce .woocommerce-checkout #payment div.payment_box {
    background: #fafafa;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
    border-color: #fafafa;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.woocommerce .woocommerce-billing-fields__field-wrapper label {
    font-size: 13px;
}

.woocommerce .woocommerce form .form-row-first,
.woocommerce .woocommerce form .form-row-last,
.woocommerce .woocommerce-page form .form-row-first,
.woocommerce .woocommerce-page form .form-row-last {
    width: 50%;
}

.woocommerce .woocommerce-billing-fields h4,
.woocommerce #order_review_heading,
.woocommerce .woocommerce-checkout-payment h5,
.woocommerce .woocommerce-additional-fields h3,
.woocommerce .woocommerce-order .woocommerce-order-details__title,
.woocommerce .woocommerce-order .woocommerce-customer-details h2,
.woocommerce .woocommerce-order .woocommerce-column__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.woocommerce .woocommerce-checkout-payment i {
    margin-right: 10px;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tbody {
    background: #fafafa;
    padding: 15px;
    border-radius: 5px;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table .cart_item td {
    position: relative;
    border: none;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table .product-name {
    padding-left: 20px;
    vertical-align: text-bottom;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table img {
    width: 60px;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    background: #fff;
    box-shadow: 0 2px 3px -2px rgba(216, 218, 224, 0.5);
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    font-size: 15px;
    color: #777;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table td,
.woocommerce .shop_table.woocommerce-checkout-review-order-table th {
    border: none;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot {
    display: contents;
    padding: 15px 20px;
    width: 100%;
    border-bottom: 1px solid #d8dae0;
}

.woocommerce .woocommerce-order {
    padding: 30px 0;
}

.woocommerce ul.order_details {
    padding: 10px 0;
}

.woocommerce .woocommerce-order-details .order_details th,
.woocommerce .woocommerce-order-details .order_details td {
    border: none;
    padding: 9px 0;
}

.woocommerce .woocommerce-order-details .order_details tfoot {
    width: 100%;
    padding: 20px;
    display: inherit;
    background: #fafafa;
    border-radius: 5px;
    margin-top: 50px;
}

.woocommerce .woocommerce-order-details .order_details tfoot th,
.woocommerce .woocommerce-order-details .order_details tfoot td {
    font-size: 14px;
}

.woocommerce .woocommerce-order-details .order_details thead th {
    font-size: 14px;
}

.woocommerce .woocommerce-order .woocommerce-order-details__title,
.woocommerce .woocommerce-order .woocommerce-customer-details h2,
.woocommerce .woocommerce-order .woocommerce-column__title {
    margin-top: 80px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.woocommerce .empty__cart {
    text-align: center;
    padding: 150px 0;
}

.woocommerce .empty__cart .button {
    color: #fff;
    padding: 20px 60px;
}

.woocommerce .empty__cart .button:hover {
    color: #fff;
    opacity: .9;
}

.woocommerce .cart-empty {
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

.woocommerce .empty__car_icon {
    font-size: 100px;
    color: #ccc;
}

.woocommerce .empty__desc {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 400px;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    padding: 15px 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 3px -2px rgba(216, 218, 224, 0.5);
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    padding: 10px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
    background: #f7f7f7;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    display: block;
    color: #777;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li i {
    margin-right: 10px;
}

.woocommerce-account .account__wrap {
    padding: 100px 15px;
    padding-top: 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 60px 30px;
    background: #fff;
    box-shadow: 0 2px 3px -2px rgba(216, 218, 224, 0.5);
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}

@media(max-width: 992px) {
    .woocommerce-account .woocommerce-MyAccount-content {
        padding: 20px;
    }
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-button {
    padding: 10px 10px !important;
    margin-right: 2px !important;
}

.woocommerce-account .user__info {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.woocommerce-account .user__info:hover {
    background: #fff !important;
}

.woocommerce-account .user__avatar,
.woocommerce-account .user__title {
    text-align: center;
    font-size: 18px;
}

.woocommerce-account .user__avatar img {
    border-radius: 50%;
}

.woocommerce-account .u-column1.col-1.woocommerce-Address,
.woocommerce-account .u-column2.col-2.woocommerce-Address {
    padding: 20px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 20px;
}

.woocommerce-account .u-column1.col-1.woocommerce-Address h3,
.woocommerce-account .u-column2.col-2.woocommerce-Address h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 0;
}

.woocommerce-account .addr__desc {
    font-size: 14px;
    line-height: 20px;
    max-width: 400px;
}

.woocommerce-account .woocommerce-MyAccount-content h3,
.woocommerce-account .woocommerce-MyAccount-content h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.woocommerce-account .woocommerce-MyAccount-content label {
    font-size: 15px;
    margin-top: 15px;
}

.woocommerce-account .woocommerce-MyAccount-content input.button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
}

.woocommerce-account .woocommerce-MyAccount-content legend {
    font-size: 18px;
    font-weight: 600;
    padding-top: 50px;
    border: none;
}

.woocommerce-account .woocommerce-MyAccount-content legend.np {
    padding-top: 0;
}

.bc__icon {
    padding: 0 6px;
    vertical-align: sub;
    font-size: 18px;
}

.woocommerce .up-sells.upsells.products h2,
.woocommerce .related.products h2 {
    font-size: 20px !important;
    font-weight: 600;
    margin-bottom: 30px;
}

.shop__archive_header {
    padding: 50px 0;
    background: #fafafa;
    border-bottom: 1px solid #eee;
}

.shop__archive_header h1 {
    margin: 0;
    position: relative;
    font-size: 40px;
    font-weight: 600;
}

.login__cont {
    padding: 50px;
}

.woocommerce .login__cont form.checkout_coupon,
.woocommerce .login__cont form.login,
.woocommerce .login__cont form.register {
    border: none;
    position: relative;
}

.woocommerce .login__cont .button,
.checkout__page .login .button {
    width: 100%;
    color: #fff;
    padding: 18px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.woocommerce .login__cont .button:hover {
    color: #fff;
    opacity: .9;
}

.woocommerce .login__cont .woocommerce-form__label-for-checkbox {
    padding: 10px 0;
}

.woocommerce .login__cont .woocommerce-form__label-for-checkbox span {
    color: #777;
    padding-left: 5px;
    font-size: 14px;
}

.woocommerce .login__cont .woocommerce-LostPassword.lost_password {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.woocommerce .login__cont .woocommerce-LostPassword.lost_password a {
    font-weight: 600;
    font-size: 14px;
}

.woocommerce .login__cont form.form-row {
    margin: 0 0 10px;
}

.login__cont .login__desc,
.passlost__cont .login__desc {
    margin-top: 20px;
    line-height: 24px;
    color: #777;
}

.passlost__cont .login__desc {
    min-width: 100%;
    text-align: left;
    margin: 0 0 30px;
}

.woocommerce .cart-container {
    padding: 100px 0;
}

.login__cont h2,
.passlost__cont h2 {
    font-size: 30px;
    font-weight: 600;
}

.cont__bordered {
    border-right: 1px solid #eee;
}

@media (max-width: 767px) {
    .cont__bordered {
        border: none;
    }
}

@media (max-width: 992px) {
    .woocommerce .login__cont,
    .woocommerce .login__cont form.checkout_coupon,
    .woocommerce .login__cont form.login,
    .woocommerce .login__cont form.register {
        padding: 0;
    }
    .woocommerce .login__cont .woocommerce-LostPassword.lost_password {
        position: initial;
    }
    .woocommerce .login__cont form .form-row {
        margin: 0;
    }
}

.passlost__cont {
    padding: 150px 50px;
}

.passlost__cont form .form-row-first {
    width: 100%;
}

.passlost__cont form .button {
    width: 100%;
    color: #fff;
    padding: 15px;
}

.login__title_cont {
    padding: 0 20px;
}

@media(max-width: 767px) {
    .passlost__cont {
        padding: 100px 0;
    }
}

.woocommerce .woocommerce-checkout-review-order-table tfoot {
    width: 100%;
    display: inherit;
    padding: 20px 10px;
    margin: 30px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.woocommerce .woocommerce-checkout-review-order-table th,
.woocommerce .woocommerce-checkout-review-order-table td {
    border: none !important;
}

.woocommerce .woocommerce-checkout-review-order .woocommerce-notice {
    box-shadow: none !important;
    border: none !important;
}

.woocommerce .checkout__page {
    padding: 50px 15px;
}

.woocommerce .checkout__page .col-2 {
    width: 40%;
}

@media(min-width: 767px) and (max-width: 992px) {
    .woocommerce .checkout__page .col-2 {
        width: 48%;
    }
}

@media(min-width: 0) and (max-width: 767px) {
    .woocommerce .checkout__page .col-2 {
        width: 100%;
    }
}

.woocommerce-info::before,
.woocommerce-message::before,
.woocommerce-error::before {
    font-family: ElegantIcons;
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 18px;
    font-size: 20px;
}

.woocommerce-info::before {
    content: '\70';
}

.woocommerce-message::before {
    content: '\52';
    color: #09BC8A;
}

.woocommerce-error::before {
    content: '\51';
    color: #DD1C1A;
}

.woocommerce .checkout__page form.checkout_coupon,
.woocommerce .checkout__page form.login,
.woocommerce .checkout__page form.register {
    max-width: 500px;
    margin: 0 auto 35px;
    background: #fafafa;
    border: none;
    position: relative;
}

.woocommerce-page .checkout__page form.login .form-row-first,
.woocommerce-page .checkout__page form.login .form-row-last,
.woocommerce-page .checkout__page .checkout_coupon .form-row-first,
.woocommerce-page .checkout__page .checkout_coupon .form-row-last {
    width: 100%;
}

.woocommerce-page .checkout__page .login .login__desc {
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 24px;
    color: #777;
}

.woocommerce-page .checkout__page .login .lost_password {
    position: absolute;
    right: 20px;
    bottom: 16px;
    font-size: 15px;
    font-weight: 500;
}

@media(max-width: 480px) {
    .woocommerce-page .checkout__page .login .lost_password {
        position: initial;
    }
}

.woocommerce-checkout-review-order-table .product-total {
    padding-right: 20px !important;
}

.woocommerce-page .checkout__page .login label.inline {
    display: inline-block;
    position: relative;
    top: 10px;
    color: #777;
    font-size: 15px;
    font-weight: 500;
}

.woocommerce-page .checkout__page .checkout_coupon .button {
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
    outline: none;
}

.woocommerce .button {
    outline: none !important;
}

.woocommerce .wc-terms-and-conditions span:not(.required) {
    padding-left: 30px;
    font-size: 13px;
    position: relative;
    font-weight: 500;
    top: 3px;
    color: #666;
}

.woocommerce nav.woocommerce-pagination {
    padding: 50px 0;
}

@media (min-width: 767px) {
    .woocommerce div.product div.images .flex-control-thumbs {
        width: 13%;
        float: left;
    }
    .woocommerce .flex-viewport {
        float: right;
        width: 85%;
    }
    .woocommerce div.product div.images .flex-control-thumbs li {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images {
        width: 55%;
    }
    .woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary {
        width: 35%;
    }
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: 600;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin: 0 0 50px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 5em;
}
.woocommerce-checkout .woocommerce-terms-and-conditions-checkbox-text {
    padding-left: 30px;
    font-size: 14px;
    line-height: 40px !important;
}
.woocommerce-cart .woocommerce-cart-form .product-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.woocommerce-cart .woocommerce-cart-form table.shop_table th,
.woocommerce-cart .woocommerce-cart-form table.shop_table td {
    padding-right: 0 !important;
}
.woocommerce .product-type-grouped .

@media (max-width: 767px) {
    .woocommerce-cart .woocommerce-cart-form .product-name {
        max-width: initial;
    }
    .woocommerce-cart .woocommerce-cart-form table.shop_table th,
    .woocommerce-cart .woocommerce-cart-form table.shop_table td {
        padding-right: 20px !important;
    }
}

.woocommerce-grouped-product-list-item__quantity .quantity {
    width: auto !important;
}
.woocommerce div.product form.cart .group_table td:first-child {
    width: 6em !important;
}

#ship-to-different-address-checkbox {
    margin: 15px 8px 0 0 !important;
}

#ship-to-different-address span {
    padding-left: 30px;
    font-size: 18px;
}
.shipping-calculator-button {
    font-size: 14px;
}
.shipping-calculator-form .select2-selection__rendered {
    text-align: left;
}
@media (max-width: 992px) {
    .woocommerce-grouped-product-list-item__quantity .dec,
    .woocommerce-grouped-product-list-item__quantity .inc {
        padding: 8px 6px;
    }
    .woocommerce-grouped-product-list-item__quantity input[type="number"] {
        width: 20px !important;
    }
    .woocommerce div.product form.cart .group_table td:first-child {
        width: 5em !important;
    }
}
.woocommerce-variation-description p {
    font-size: 14px;
}
.woocommerce-variation-price .price {
    margin-bottom: 40px !important;
}

.woocommerce div.product form.cart .variations {
    margin-bottom: 0;
}

.woocommerce div.product form.cart .variations td.label {
    padding: 0;
}

.products.columns-4.relateds li {
    width: 23.5% !important;
    margin-right: 2% !important;
}
.products.columns-4.relateds li.first {
    clear: none !important;
}
.products.columns-4.relateds li:last-child {
    margin-right: 0 !important;
}
@media (max-width: 767px) {
    .products.columns-4.relateds li {
        width: 48% !important;
        margin-right: 2% !important;
    }
    .products.columns-4.relateds li.first {
        clear: none !important;
    }
    .products.columns-4.relateds li:last-child {
        margin-right: 0 !important;
    }
}
#review_form h5 {
    margin-left: -15px;
    margin-bottom: 20px;
}
.woocommerce div.product div.images img {
    margin: 0 !important; 
}
.pswp {
    z-index: 9999 !important;
}
.cart-subtotal th {
    padding-left: 0;
}

.woocommerce a.remove:hover {
    color: #333 !important;
}

