/* Webfont shims to keep icon fonts stable. */

@font-face {
  font-family: 'Dashboard';
  src: url('/wp-content/themes/psychare/assets/fonts/Dashboard/dashboard.woff') format('woff'),
       url('/wp-content/themes/psychare/assets/fonts/Dashboard/dashboard.ttf') format('truetype'),
       url('/wp-content/themes/psychare/assets/fonts/Dashboard/dashboard.eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElegantIcons';
  src: url('/wp-content/themes/psychare/assets/fonts/Elegant/ElegantIcons.ttf') format('truetype'),
       url('/wp-content/themes/psychare/assets/fonts/Elegant/ElegantIcons.eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Socicon';
  src: url('/wp-content/themes/psychare/assets/fonts/Socicon/Socicon.woff') format('woff'),
       url('/wp-content/themes/psychare/assets/fonts/Socicon/Socicon.ttf') format('truetype'),
       url('/wp-content/themes/psychare/assets/fonts/Socicon/Socicon.eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
