---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
import CtaBarBooking from "../components/CtaBarBooking.astro";
import LetsTalkHoursSection from "../components/LetsTalkHoursSection.astro";
import SubscribeOverlaySection from "../components/SubscribeOverlaySection.astro";
---

<BaseLayout>
    <title slot="head">About | Jen Shawgo Nutrition</title>
    <PageHero
        title="Hi there, I’m Jen."
        subtitle="I’m so glad you found my page and I can’t wait to share what personalized nutrition can do for you."
        image="/wp-content/uploads/2024/05/About-mid-page-banner-resize.jpg"
    />
    <main class="main__content">
        <section class="col-md-12 col-sm-12 col-xs-12 allow-gutenberg">
            <div class="row">
                <div class="container">
                    <div class="wpb-content-wrapper">
                        <div
                            data-vc-full-width="true"
                            data-vc-full-width-init="false"
                            class="vc_row wpb_row vc_row-fluid about-mobile-padding content-dark data-bg-color-6961884e56d50 vc_custom_1718294076182 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884e56d50"
                        >
                            <div
                                class="wpb_column vc_column_container content-dark vc_col-sm-6 column-z-index-6961884e56f79"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1604982807564"
                                >
                                    <div class="wpb_wrapper">
                                        <div
                                            class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716769850080"
                                        >
                                            <figure
                                                class="wpb_wrapper vc_figure"
                                            >
                                                <div
                                                    class="vc_single_image-wrapper vc_box_border_grey"
                                                >
                                                    <img
                                                        fetchpriority="high"
                                                        decoding="async"
                                                        width="1703"
                                                        height="2560"
                                                        src="/wp-content/uploads/2024/05/DSC_8739-Edit-scaled.jpg"
                                                        class="vc_single_image-img attachment-full"
                                                        alt="Jen Shawgo sitting on steps talking to a friend"
                                                        title="Jen Shawgo"
                                                        srcset="/wp-content/uploads/2024/05/DSC_8739-Edit-scaled.jpg 1703w, /wp-content/uploads/2024/05/DSC_8739-Edit-200x300.jpg 200w, /wp-content/uploads/2024/05/DSC_8739-Edit-681x1024.jpg 681w, /wp-content/uploads/2024/05/DSC_8739-Edit-768x1154.jpg 768w, /wp-content/uploads/2024/05/DSC_8739-Edit-1022x1536.jpg 1022w, /wp-content/uploads/2024/05/DSC_8739-Edit-1363x2048.jpg 1363w, /wp-content/uploads/2024/05/DSC_8739-Edit-600x902.jpg 600w"
                                                        sizes="(max-width: 1703px) 100vw, 1703px"
                                                    />
                                                </div>
                                            </figure>
                                        </div>
                                        <style>
                                            #slcr_custom_heading_6961884e57afe {
                                                text-align: center;
                                            }
                                        </style><h6
                                            id="slcr_custom_heading_6961884e57afe"
                                            class="vc_custom_heading font-400"
                                        >
                                            Jen Shawgo, MS, CNS, LDN, CD
                                        </h6><div
                                            class="vc_empty_space visible-xs"
                                            style="height: 32px"
                                        >
                                            <span class="vc_empty_space_inner"
                                            ></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div
                                class="wpb_column vc_column_container content-dark vc_col-sm-1 vc_hidden-md vc_hidden-sm column-z-index-6961884e57c88"
                            >
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div><div
                                class="wpb_column vc_column_container content-dark vc_col-sm-6 vc_col-lg-5 vc_col-md-6 column-z-index-6961884e57d09"
                            >
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <style>
                                            #slcr_custom_heading_6961884e57e95 {
                                                font-size: 14px;
                                                color: #574142;
                                                line-height: 1.2;
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e57e95"
                                            class="vc_custom_heading sub-heading single font-800"
                                        >
                                            I've been there
                                        </p><style>
                                            #slcr_custom_heading_6961884e57f14 {
                                                font-size: 25px;
                                                line-height: 38px;
                                                text-align: left;
                                            }
                                        </style><h2
                                            id="slcr_custom_heading_6961884e57f14"
                                            class="vc_custom_heading vc_custom_1716769733816 font-700"
                                        >
                                            I understand that digging deeper and
                                            figuring out what's causing our
                                            symptoms can take some time and
                                            patience.
                                        </h2><style>
                                            #slcr_custom_heading_6961884e57f88 {
                                                font-size: 16px;
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e57f88"
                                            class="vc_custom_heading vc_custom_1716781037999 font-400"
                                        >
                                            I spent many years not feeling well
                                            and knowing something was “off”.
                                            After endless doctor appointments,
                                            tests, medications, and painful
                                            surgeries I was still not well and
                                            barely had the energy to care for my
                                            family. It wasn’t until I discovered
                                            functional medicine and the healing
                                            power of nutrition that I was able
                                            to finally address the root causes
                                            of my health issues and start to get
                                            my life back!
                                        </p><style>
                                            #slcr_custom_heading_6961884e57fee {
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e57fee"
                                            class="vc_custom_heading font-400"
                                        >
                                            Change doesn’t happen overnight.
                                            Finding the root causes of your
                                            symptoms requires a skilled and
                                            determined practitioner, partnered
                                            with your dedication and willingness
                                            to make the necessary changes to
                                            begin the healing process, but it is
                                            worth the time and effort! The
                                            investment you make in yourself will
                                            be one of the best things you ever
                                            do. You too can experience the power
                                            of medical nutrition therapy and
                                            begin living life feeling well!
                                        </p><div
                                            class="vc_empty_space"
                                            style="height: 32px"
                                        >
                                            <span class="vc_empty_space_inner"
                                            ></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div
                            data-vc-full-width="true"
                            data-vc-full-width-init="false"
                            class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961884e5812f vc_custom_1717102295710 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884e5812f"
                        >
                            <div
                                class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6961884e58214"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1604126572727"
                                >
                                    <div class="wpb_wrapper">
                                        <div
                                            class="wpb_text_column wpb_content_element vc_custom_1716567530970"
                                        >
                                            <div class="wpb_wrapper">
                                                <p
                                                    style="text-align: center; font-size: 24px; font-weight: 400; font-family: 'Libre Baskerville', serif; font-style: italic;"
                                                >
                                                    &#8220;This is a
                                                    partnership, we work
                                                    together so that you can
                                                    make small sustainable
                                                    changes that help you to
                                                    create a lasting impact on
                                                    your health.&#8221;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <style>
                            [data-bg-color-6961884e583f5]:before {
                                content: "";
                                position: absolute;
                                background: linear-gradient(
                                    to right,
                                    rgba(21, 17, 16, 1) 50%,
                                    rgba(21, 17, 16, 0.71) 75%,
                                    rgba(21, 17, 16, 0) 100%
                                );
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                z-index: 1;
                            }
                            .data-bg-color-6961884e583f5.vc_row.vc_row-flex::after,
                            .vc_row.vc_row-flex::before {
                                display: inherit;
                            }
                            .data-bg-color-6961884e583f5.vc_row:after,
                            .vc_row:before {
                                content: " ";
                                display: inherit;
                            }
                        </style><div
                            data-vc-full-width="true"
                            data-vc-full-width-init="false"
                            class="vc_row wpb_row vc_row-fluid about_center_background content-light data-bg-color-6961884e583f5 vc_custom_1717130623008 vc_row-has-fill row-z-index-6961884e583f5"
                            data-bg-overlay="9"
                            data-bg-color-6961884e583f5="9"
                        >
                            <div
                                class="wpb_column vc_column_container content-dark vc_col-sm-6 vc_col-lg-5 vc_col-md-6 vc_col-xs-12 column-z-index-6961884e584d0"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1606115252191"
                                >
                                    <div class="wpb_wrapper">
                                        <style>
                                            #slcr_custom_heading_6961884e5861c {
                                                font-size: 14px;
                                                color: #ffffff;
                                                line-height: 1.2;
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e5861c"
                                            class="vc_custom_heading sub-heading single white font-800"
                                        >
                                            How I can help
                                        </p><style>
                                            #slcr_custom_heading_6961884e586ad {
                                                font-size: 25px;
                                                line-height: 38px;
                                                text-align: left;
                                            }
                                        </style><h2
                                            id="slcr_custom_heading_6961884e586ad"
                                            class="vc_custom_heading vc_custom_1716769884343 font-700"
                                        >
                                            I specialize in integrative
                                            nutrition which is a holistic
                                            approach to nutrition care that
                                            recognizes you are more than just
                                            the food you eat.
                                        </h2><style>
                                            #slcr_custom_heading_6961884e58739 {
                                                color: rgba(
                                                    255,
                                                    255,
                                                    255,
                                                    0.75
                                                );
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e58739"
                                            class="vc_custom_heading vc_custom_1738170277570 font-600"
                                        >
                                            Every individual is a unique puzzle
                                            with many pieces. By examining your
                                            history, challenges, genetics,
                                            stress levels, sleep habits,
                                            physical activity, diet, and
                                            available support and resources, we
                                            can help you understand how to put
                                            the pieces back in place. Together,
                                            we'll develop a personalized plan
                                            that aligns with your lifestyle and
                                            goals while addressing the root
                                            cause of your health issues to
                                            restore a healthy balance and manage
                                            chronic conditions. This type of
                                            nutritional care is designed to
                                            create lasting change, help you feel
                                            your best, and enjoy life to the
                                            fullest! I am excited to meet you
                                            and guide you through your journey
                                            toward better health and wellness.
                                            You'll receive support and education
                                            every step of the way, so let's get
                                            started!
                                        </p>
                                    </div>
                                </div>
                            </div><div
                                class="wpb_column vc_column_container content-dark vc_col-sm-7 column-z-index-6961884e58781"
                            >
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div
                            data-vc-full-width="true"
                            data-vc-full-width-init="false"
                            class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961884e58847 vc_custom_1738119104203 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884e58847"
                        >
                            <div
                                class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6961884e58901"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1604126572727"
                                >
                                    <div class="wpb_wrapper">
                                        <div
                                            class="owl owl-carousel carousel-shortcode certifications"
                                            data-carousel-loop="true"
                                            data-carousel-dots="true"
                                            data-carousel-margin="30"
                                            data-carousel-autoplay="false"
                                            data-carousel-responsiveClass="true"
                                            data-carousel-stage-padding="0"
                                            data-carousel-ani-i=""
                                            data-carousel-ani-o=""
                                            data-carousel-animateIn=""
                                            data-carousel-animateOut=""
                                            data-carousel-smartspeed="850"
                                            data-carousel-items-mob="3"
                                            data-carousel-items-tab="4"
                                            data-carousel-items-pc="4"
                                            data-carousel-nav-mob="false"
                                            data-carousel-nav-tab="false"
                                            data-carousel-nav-pc="false"
                                            data-carousel-dots-mob="false"
                                            data-carousel-dots-tab="false"
                                            data-carousel-dots-pc="false"
                                        >
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738115107950"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            decoding="async"
                                                            width="239"
                                                            height="188"
                                                            src="/wp-content/uploads/2025/01/MSCN-Diploma.png"
                                                            class="vc_single_image-img attachment-custom-certifications"
                                                            alt=""
                                                            title="MSCN Diploma"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738115113860"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            decoding="async"
                                                            width="243"
                                                            height="188"
                                                            src="/wp-content/uploads/2025/01/CNS-Certificate_Shawgo-Jennifer.png"
                                                            class="vc_single_image-img attachment-custom-certifications"
                                                            alt=""
                                                            title="CNS Certificate_Shawgo, Jennifer"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738120006726"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            decoding="async"
                                                            width="243"
                                                            height="188"
                                                            src="/wp-content/uploads/2025/01/Principles-of-Nutrigenomics.png"
                                                            class="vc_single_image-img attachment-custom-certifications"
                                                            alt=""
                                                            title="Principles of Nutrigenomics"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738119990572"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            decoding="async"
                                                            width="300"
                                                            height="188"
                                                            src="/wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo.png"
                                                            class="vc_single_image-img attachment-custom-certifications"
                                                            alt=""
                                                            title="Nested Health Coach Certificate for Jennifer Shawgo"
                                                            srcset="/wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo.png 720w, /wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo-300x188.png 300w, /wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo-600x375.png 600w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div
                            data-vc-full-width="true"
                            data-vc-full-width-init="false"
                            class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961884e59e47 vc_custom_1606046982084 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884e59e47"
                        >
                            <div
                                class="wpb_column vc_column_container content-dark vc_col-sm-6 column-z-index-6961884e59ee5"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1604982807564"
                                >
                                    <div class="wpb_wrapper">
                                        <div
                                            class="wpb_single_image wpb_content_element vc_align_center"
                                        >
                                            <figure
                                                class="wpb_wrapper vc_figure"
                                            >
                                                <div
                                                    class="vc_single_image-wrapper vc_box_border_grey"
                                                >
                                                    <img
                                                        loading="lazy"
                                                        decoding="async"
                                                        width="1733"
                                                        height="2560"
                                                        src="/wp-content/uploads/2024/05/DSC_8895-scaled.jpg"
                                                        class="vc_single_image-img attachment-full"
                                                        alt="Jen Shawgo walking down the street"
                                                        title="Jen Shawgo"
                                                        srcset="/wp-content/uploads/2024/05/DSC_8895-scaled.jpg 1733w, /wp-content/uploads/2024/05/DSC_8895-203x300.jpg 203w, /wp-content/uploads/2024/05/DSC_8895-693x1024.jpg 693w, /wp-content/uploads/2024/05/DSC_8895-768x1134.jpg 768w, /wp-content/uploads/2024/05/DSC_8895-1040x1536.jpg 1040w, /wp-content/uploads/2024/05/DSC_8895-1387x2048.jpg 1387w, /wp-content/uploads/2024/05/DSC_8895-600x886.jpg 600w"
                                                        sizes="auto, (max-width: 1733px) 100vw, 1733px"
                                                    />
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div><div
                                class="wpb_column vc_column_container content-dark vc_col-sm-1 vc_hidden-md vc_hidden-sm column-z-index-6961884e5a415"
                            >
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div><div
                                class="wpb_column vc_column_container content-dark vc_col-sm-6 vc_col-lg-5 vc_col-md-6 column-z-index-6961884e5a4a0"
                            >
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <style>
                                            #slcr_custom_heading_6961884e5a5d6 {
                                                font-size: 14px;
                                                color: #574142;
                                                line-height: 1.2;
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e5a5d6"
                                            class="vc_custom_heading sub-heading single font-800"
                                        >
                                            My Journey
                                        </p><style>
                                            #slcr_custom_heading_6961884e5a682 {
                                                font-size: 33px;
                                                line-height: 43px;
                                                text-align: left;
                                            }
                                        </style><h2
                                            id="slcr_custom_heading_6961884e5a682"
                                            class="vc_custom_heading vc_custom_1716769928119 font-700"
                                        >
                                            I have a deep-rooted passion for
                                            helping people that is intertwined
                                            with my obsession with all things
                                            nutrition and wellness.
                                        </h2><style>
                                            #slcr_custom_heading_6961884e5a6f2 {
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e5a6f2"
                                            class="vc_custom_heading font-400"
                                        >
                                            Board-certified clinical
                                            nutritionist, health coach, wife,
                                            and mom… my journey began long ago
                                            studying Nutrition and Dietetics.
                                            After two semesters focusing on
                                            Nutrition, my heart guided me to a
                                            new academic path in Community
                                            Health Education, which I felt would
                                            allow me to create a bigger impact
                                            and help “change the world.”
                                            However, I quickly realized that my
                                            hands would be tied by the
                                            uncertainty of public health
                                            education funding and I began to
                                            wonder if I had chosen the right
                                            field.
                                        </p><style>
                                            #slcr_custom_heading_6961884e5a757 {
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961884e5a757"
                                            class="vc_custom_heading font-400"
                                        >
                                            It was around this time that I
                                            paused my public health career,
                                            married my soulmate, and was blessed
                                            with the ability to stay home and
                                            raise our children. Years later, I
                                            found myself dreaming of how I could
                                            revisit my passion for nutrition and
                                            help others find healing as I had.
                                            So I embarked on a new journey and
                                            returned to school to earn my
                                            Master’s in Clinical Nutrition and
                                            opened my practice. In addition to
                                            my Master’s, I am a board Certified
                                            Nutrition Specialist® (CNS®), a
                                            licensed dietetic nutritionist
                                            (LDN), hold specialized training in
                                            nutritional genomics, and have
                                            completed a nutritionally focused
                                            health and wellness coaching
                                            program.
                                        </p><div
                                            class="vc_empty_space vc_hidden-md vc_hidden-sm vc_hidden-xs"
                                            style="height: 100px"
                                        >
                                            <span class="vc_empty_space_inner"
                                            ></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <CtaBarBooking showPricing={false} />
                        <LetsTalkHoursSection
                            backgroundColor="#ede7df"
                            borderTopWidth={3}
                            borderBottomWidth={3}
                            borderColor="#a80226"
                        />
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <SubscribeOverlaySection />
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BlOG CONTAINER ENDS -->
    </main>
</BaseLayout>
