---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="About | Jen Shawgo Nutrition">
  <main class="main__content">

<section class="col-md-12 col-sm-12 col-xs-12 allow-gutenberg">
<div class="row">
<div class="container">
<div class="wpb-content-wrapper"><p><style></style></p><div class="vc_row wpb_row vc_row-fluid about-mobile-padding content-dark data-bg-color-6959686b10a11 vc_custom_1718294076182 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6959686b10a11" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-6 column-z-index-6959686b10bb0">
<div class="vc_column-inner vc_custom_1604982807564">
<div class="wpb_wrapper"><div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716769850080">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="Jen Shawgo sitting on steps talking to a friend" class="vc_single_image-img attachment-full" decoding="async" fetchpriority="high" height="2560" sizes="(max-width: 1703px) 100vw, 1703px" src="/wp-content/uploads/2024/05/DSC_8739-Edit-scaled.jpg" srcset="/wp-content/uploads/2024/05/DSC_8739-Edit-scaled.jpg 1703w, /wp-content/uploads/2024/05/DSC_8739-Edit-200x300.jpg 200w, /wp-content/uploads/2024/05/DSC_8739-Edit-681x1024.jpg 681w, /wp-content/uploads/2024/05/DSC_8739-Edit-768x1154.jpg 768w, /wp-content/uploads/2024/05/DSC_8739-Edit-1022x1536.jpg 1022w, /wp-content/uploads/2024/05/DSC_8739-Edit-1363x2048.jpg 1363w, /wp-content/uploads/2024/05/DSC_8739-Edit-600x902.jpg 600w" title="Jen Shawgo" width="1703"/></div>
</figure>
</div> <style>#slcr_custom_heading_6959686b118fd{ text-align: center;  }</style><h6 class="vc_custom_heading font-400" id="slcr_custom_heading_6959686b118fd">Jen Shawgo, MS, CNS, LDN, CD</h6><div class="vc_empty_space visible-xs" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>
</div>
</div><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-1 vc_hidden-md vc_hidden-sm column-z-index-6959686b11a40">
<div class="vc_column-inner">
<div class="wpb_wrapper">
</div>
</div>
</div><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-6 vc_col-lg-5 vc_col-md-6 column-z-index-6959686b11af6">
<div class="vc_column-inner">
<div class="wpb_wrapper"><style>#slcr_custom_heading_6959686b11db0{ font-size: 14px;color: #574142;line-height: 1.2;text-align: left;  }</style><p class="vc_custom_heading sub-heading single font-800" id="slcr_custom_heading_6959686b11db0">I've been there</p><style>#slcr_custom_heading_6959686b11e88{ font-size: 25px;line-height: 38px;text-align: left;  }</style><h2 class="vc_custom_heading vc_custom_1716769733816 font-700" id="slcr_custom_heading_6959686b11e88">I understand that digging deeper and figuring out what's causing our symptoms can take some time and patience.</h2><style>#slcr_custom_heading_6959686b11f3f{ font-size: 16px;text-align: left;  }</style><p class="vc_custom_heading vc_custom_1716781037999 font-400" id="slcr_custom_heading_6959686b11f3f">I spent many years not feeling well and knowing something was “off”. After endless doctor appointments, tests, medications, and painful surgeries I was still not well and barely had the energy to care for my family. It wasn’t until I discovered functional medicine and the healing power of nutrition that I was able to finally address the root causes of my health issues and start to get my life back!</p><style>#slcr_custom_heading_6959686b11fe9{ text-align: left;  }</style><p class="vc_custom_heading font-400" id="slcr_custom_heading_6959686b11fe9">Change doesn’t happen overnight. Finding the root causes of your symptoms requires a skilled and determined practitioner, partnered with your dedication and willingness to make the necessary changes to begin the healing process, but it is worth the time and effort! The investment you make in yourself will be one of the best things you ever do. You too can experience the power of medical nutrition therapy and begin living life feeling well!</p><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style></style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686b12150 vc_custom_1717102295710 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6959686b12150" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686b12211">
<div class="vc_column-inner vc_custom_1604126572727">
<div class="wpb_wrapper"><div class="wpb_text_column wpb_content_element vc_custom_1716567530970">
<div class="wpb_wrapper">
<p style="text-align: center; font-size: 24px; font-weight: 400; font-family: 'Libre Baskerville', serif; font-style: italic;">“This is a partnership, we work together so that you can make small sustainable changes that help you to create a lasting impact on your health.”</p>
</div>
</div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style>[data-bg-color-6959686b1242c]:before { content: ""; position: absolute; background: linear-gradient(to right, rgba(21,17,16,1) 50%, rgba(21,17,16,0.71) 75%, rgba(21,17,16,0) 100%); height: 100%; width: 100%; top: 0; left: 0; z-index: 1; } .data-bg-color-6959686b1242c.vc_row.vc_row-flex::after, .vc_row.vc_row-flex::before { display: inherit; } .data-bg-color-6959686b1242c.vc_row:after, .vc_row:before { content: " "; display: inherit; }</style><div class="vc_row wpb_row vc_row-fluid about_center_background content-light data-bg-color-6959686b1242c vc_custom_1717130623008 vc_row-has-fill row-z-index-6959686b1242c" data-bg-color-6959686b1242c="9" data-bg-overlay="9" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-6 vc_col-lg-5 vc_col-md-6 vc_col-xs-12 column-z-index-6959686b12545">
<div class="vc_column-inner vc_custom_1606115252191">
<div class="wpb_wrapper"><style>#slcr_custom_heading_6959686b12732{ font-size: 14px;color: #ffffff;line-height: 1.2;text-align: left;  }</style><p class="vc_custom_heading sub-heading single white font-800" id="slcr_custom_heading_6959686b12732">How I can help</p><style>#slcr_custom_heading_6959686b127fb{ font-size: 25px;line-height: 38px;text-align: left;  }</style><h2 class="vc_custom_heading vc_custom_1716769884343 font-700" id="slcr_custom_heading_6959686b127fb">I specialize in integrative nutrition which is a holistic approach to nutrition care that recognizes you are more than just the food you eat.</h2><style>#slcr_custom_heading_6959686b128b1{ color: rgba(255,255,255,0.75);text-align: left;  }</style><p class="vc_custom_heading vc_custom_1738170277570 font-600" id="slcr_custom_heading_6959686b128b1">Every individual is a unique puzzle with many pieces. By examining your history, challenges, genetics, stress levels, sleep habits, physical activity, diet, and available support and resources, we can help you understand how to put the pieces back in place. Together, we'll develop a personalized plan that aligns with your lifestyle and goals while addressing the root cause of your health issues to restore a healthy balance and manage chronic conditions. This type of nutritional care is designed to create lasting change, help you feel your best, and enjoy life to the fullest! I am excited to meet you and guide you through your journey toward better health and wellness. You'll receive support and education every step of the way, so let's get started!</p>
</div>
</div>
</div><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-7 column-z-index-6959686b12902">
<div class="vc_column-inner">
<div class="wpb_wrapper">
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style></style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686b12a1f vc_custom_1738119104203 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6959686b12a1f" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686b12b0b">
<div class="vc_column-inner vc_custom_1604126572727">
<div class="wpb_wrapper">
<div class="owl owl-carousel carousel-shortcode certifications" data-carousel-ani-i="" data-carousel-ani-o="" data-carousel-animatein="" data-carousel-animateout="" data-carousel-autoplay="false" data-carousel-dots="true" data-carousel-dots-mob="false" data-carousel-dots-pc="false" data-carousel-dots-tab="false" data-carousel-items-mob="3" data-carousel-items-pc="4" data-carousel-items-tab="4" data-carousel-loop="true" data-carousel-margin="30" data-carousel-nav-mob="false" data-carousel-nav-pc="false" data-carousel-nav-tab="false" data-carousel-responsiveclass="true" data-carousel-smartspeed="850" data-carousel-stage-padding="0"><div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738115107950">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="" class="vc_single_image-img attachment-custom-certifications" decoding="async" height="188" src="/wp-content/uploads/2025/01/MSCN-Diploma.png" title="MSCN Diploma" width="239"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738115113860">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="" class="vc_single_image-img attachment-custom-certifications" decoding="async" height="188" src="/wp-content/uploads/2025/01/CNS-Certificate_Shawgo-Jennifer.png" title="CNS Certificate_Shawgo, Jennifer" width="243"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738120006726">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="" class="vc_single_image-img attachment-custom-certifications" decoding="async" height="188" loading="lazy" src="/wp-content/uploads/2025/01/Principles-of-Nutrigenomics.png" title="Principles of Nutrigenomics" width="243"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1738119990572">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="" class="vc_single_image-img attachment-custom-certifications" decoding="async" height="188" loading="lazy" sizes="auto, (max-width: 300px) 100vw, 300px" src="/wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo.png" srcset="/wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo.png 720w, /wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo-300x188.png 300w, /wp-content/uploads/2025/01/Nested-Health-Coach-Certificate-for-Jennifer-Shawgo-600x375.png 600w" title="Nested Health Coach Certificate for Jennifer Shawgo" width="300"/></div>
</figure>
</div>
</div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style></style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686b143bf vc_custom_1606046982084 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6959686b143bf" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-6 column-z-index-6959686b1447b">
<div class="vc_column-inner vc_custom_1604982807564">
<div class="wpb_wrapper"><div class="wpb_single_image wpb_content_element vc_align_center">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="Jen Shawgo walking down the street" class="vc_single_image-img attachment-full" decoding="async" height="2560" loading="lazy" sizes="auto, (max-width: 1733px) 100vw, 1733px" src="/wp-content/uploads/2024/05/DSC_8895-scaled.jpg" srcset="/wp-content/uploads/2024/05/DSC_8895-scaled.jpg 1733w, /wp-content/uploads/2024/05/DSC_8895-203x300.jpg 203w, /wp-content/uploads/2024/05/DSC_8895-693x1024.jpg 693w, /wp-content/uploads/2024/05/DSC_8895-768x1134.jpg 768w, /wp-content/uploads/2024/05/DSC_8895-1040x1536.jpg 1040w, /wp-content/uploads/2024/05/DSC_8895-1387x2048.jpg 1387w, /wp-content/uploads/2024/05/DSC_8895-600x886.jpg 600w" title="Jen Shawgo" width="1733"/></div>
</figure>
</div>
</div>
</div>
</div><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-1 vc_hidden-md vc_hidden-sm column-z-index-6959686b14ae9">
<div class="vc_column-inner">
<div class="wpb_wrapper">
</div>
</div>
</div><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-6 vc_col-lg-5 vc_col-md-6 column-z-index-6959686b14b9b">
<div class="vc_column-inner">
<div class="wpb_wrapper"><style>#slcr_custom_heading_6959686b14d20{ font-size: 14px;color: #574142;line-height: 1.2;text-align: left;  }</style><p class="vc_custom_heading sub-heading single font-800" id="slcr_custom_heading_6959686b14d20">My Journey</p><style>#slcr_custom_heading_6959686b14dea{ font-size: 33px;line-height: 43px;text-align: left;  }</style><h2 class="vc_custom_heading vc_custom_1716769928119 font-700" id="slcr_custom_heading_6959686b14dea">I have a deep-rooted passion for helping people that is intertwined with my obsession with all things nutrition and wellness.</h2><style>#slcr_custom_heading_6959686b14ea2{ text-align: left;  }</style><p class="vc_custom_heading font-400" id="slcr_custom_heading_6959686b14ea2">Board-certified clinical nutritionist, health coach, wife, and mom… my journey began long ago studying Nutrition and Dietetics. After two semesters focusing on Nutrition, my heart guided me to a new academic path in Community Health Education, which I felt would allow me to create a bigger impact and help “change the world.” However, I quickly realized that my hands would be tied by the uncertainty of public health education funding and I began to wonder if I had chosen the right field.</p><style>#slcr_custom_heading_6959686b14f4d{ text-align: left;  }</style><p class="vc_custom_heading font-400" id="slcr_custom_heading_6959686b14f4d">It was around this time that I paused my public health career, married my soulmate, and was blessed with the ability to stay home and raise our children. Years later, I found myself dreaming of how I could revisit my passion for nutrition and help others find healing as I had. So I embarked on a new journey and returned to school to earn my Master’s in Clinical Nutrition and opened my practice. In addition to my Master’s, I am a board Certified Nutrition Specialist® (CNS®), a licensed dietetic nutritionist (LDN), hold specialized training in nutritional genomics, and have completed a nutritionally focused health and wellness coaching program.</p><div class="vc_empty_space vc_hidden-md vc_hidden-sm vc_hidden-xs" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style></style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686b15095 vc_custom_1718467127056 row-z-index-6959686b15095"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686b15151">
<div class="vc_column-inner">
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1717621887751 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-1"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><style>#slcr_icon_text_last6959686b154b7.main__icon { display: block; text-align: center; color: #574142 !important; border-radius: 50%; border-color: #f9f5f2 !important; background: #f9f5f2 !important;  height: 64px; width: 64px; line-height: 64px; font-size: 32px; transition: all ease .3s; -webkit-transition: all ease .3s; } [data-hover-target="box"]:hover #slcr_icon_text_last6959686b154b7.main__icon, [data-hover-target="icon"] #slcr_icon_text_last6959686b154b7.main__icon:hover { background: #f9f5f2 !important; border-color: #f9f5f2 !important; color: #332324 !important; } #slcr_icon_text_content6959686b154b7{  } #slcr_icon_text_img6959686b154b7{  height: auto; width: 60px;   border-radius: 0px;  }</style><div class="wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="icons__text icon-center-mobile" data-hover-target="box" data-icon-align="left" data-reset-responsive="false" data-vertical-align="top">
<div class="icons_wrap">
<div class="icon__container">
<i class="main__icon far fa-calendar-check" id="slcr_icon_text_last6959686b154b7"></i>
</div>
</div>
<div class="text__content" id="slcr_icon_text_content6959686b154b7">
<h4 style="font-size: 23px;font-weight: bold;margin-top: 0;margin-bottom: 0px">Now taking new clients</h4>
<p>Get started by booking your free Discovery session today!</p>
</div>
</div></div></div></div><div class="text-right center-xs wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner"><div class="wpb_wrapper"><style>#btn_slcr_6959686b157d2{ font-size: 14px; text-transform: uppercase;}  #btn_slcr_6959686b157d2:hover{ }</style><div class="vc_btn3-container vc_btn3-inline">
<a class="btn vc_custom_1749514444525 left-xs btn--lg font-800 btn--rounded btn--primary" href="https://booking.jenshawgonutrition.com/" id="btn_slcr_6959686b157d2" target="_blank" title="BOOK NOW">
<span>BOOK NOW</span>
</a> </div><style>#btn_slcr_6959686b158e1{ font-size: 14px; text-transform: uppercase; } #btn_slcr_6959686b158e1:hover{ }</style><div class="vc_btn3-container vc_btn3-inline">
<a class="btn vc_custom_1749852961002 left-xs content-hide btn--lg font-800 btn--rounded btn--primary btn--ghost" href="/services/" id="btn_slcr_6959686b158e1" title="Services">
<span>SERVICES OFFERED</span>
</a> </div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div>
</div>
</div>
</div></div><style></style><div class="vc_row wpb_row vc_row-fluid ofvs content-dark data-bg-color-6959686b15b24 vc_custom_1717102327004 vc_row-has-fill row-z-index-6959686b15b24" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686b15c94">
<div class="vc_column-inner">
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid lets-talk-mobile-padding vc_custom_1718349109825"><style>#slcr_icon_text_last6959686b16047.main__icon { display: block; text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 40px; width: 40px; line-height: 40px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } [data-hover-target="box"]:hover #slcr_icon_text_last6959686b16047.main__icon, [data-hover-target="icon"] #slcr_icon_text_last6959686b16047.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #a80226 !important; } #slcr_icon_text_content6959686b16047{  } #slcr_icon_text_img6959686b16047{  height: auto; width: 60px;   border-radius: 0px;  }</style><div class="counter-border even wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1605635702081"><div class="wpb_wrapper">
<div class="icons__text icon-text-custom" data-hover-target="box" data-icon-align="left" data-reset-responsive="false" data-vertical-align="top">
<div class="icons_wrap">
<div class="icon__container">
<i class="main__icon far fa-comment" id="slcr_icon_text_last6959686b16047"></i>
</div>
</div>
<div class="text__content" id="slcr_icon_text_content6959686b16047">
<h4 style="font-size: 21px;font-weight: bold;margin-top: 0">Let’s Talk</h4>
<p><span class="font-700">Email:</span> <a href="/cdn-cgi/l/email-protection#70191e161f301a151e03181107171f1e0504021904191f1e5e131f1d"><span class="__cf_email__" data-cfemail="cea7a0a8a18ea4aba0bda6afb9a9a1a0bbbabca7baa7a1a0e0ada1a3">[email protected]</span></a></p>
<p><a href="https://booking.jenshawgonutrition.com/" rel="noopener" style="font-weight: bold;text-decoration: underline" target="_blank">Book a Discovery Session</a></p>
</div>
</div><div class="vc_empty_space visible-xs" style="height: 32px"><span class="vc_empty_space_inner"></span></div></div></div></div><style>#slcr_icon_text_last6959686b163a1.main__icon { display: block; text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 40px; width: 40px; line-height: 40px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } [data-hover-target="box"]:hover #slcr_icon_text_last6959686b163a1.main__icon, [data-hover-target="icon"] #slcr_icon_text_last6959686b163a1.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #a80226 !important; } #slcr_icon_text_content6959686b163a1{  } #slcr_icon_text_img6959686b163a1{  height: auto; width: 60px;   border-radius: 0px;  }</style><div class="counter-border even wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1605635711922"><div class="wpb_wrapper">
<div class="icons__text icon-text-custom" data-hover-target="box" data-icon-align="left" data-reset-responsive="false" data-vertical-align="top">
<div class="icons_wrap">
<div class="icon__container">
<i class="main__icon far fa-clock" id="slcr_icon_text_last6959686b163a1"></i>
</div>
</div>
<div class="text__content" id="slcr_icon_text_content6959686b163a1">
<h4 style="font-size: 21px;font-weight: bold;margin-top: 0">My Hours</h4>
<p><span class="font-700">Tues. – Fri.</span><br/>
By Appointment Only</p>
</div>
</div></div></div></div></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style>[data-bg-color-6959686b165e8]:before { content: ""; position: absolute; background-color: #151110; height: 100%; width: 100%; top: 0; left: 0; z-index: 1; } .data-bg-color-6959686b165e8.vc_row.vc_row-flex::after, .vc_row.vc_row-flex::before { display: inherit; } .data-bg-color-6959686b165e8.vc_row:after, .vc_row:before { content: " "; display: inherit; }</style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686b165e8 vc_custom_1715985333682 vc_row-has-fill row-z-index-6959686b165e8" data-bg-color-6959686b165e8="8" data-bg-overlay="8" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686b16735">
<div class="vc_column-inner">
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><style>#slcr_icon_text_last6959686b16a5c.main__icon { display: block; text-align: center; color: #ffffff !important; border-radius: 50%; border-color: rgba(0,0,0,0.01) !important; background: rgba(255,255,255,0.01) !important;  height: 48px; width: 48px; line-height: 48px; font-size: 48px; transition: all ease .3s; -webkit-transition: all ease .3s; } [data-hover-target="box"]:hover #slcr_icon_text_last6959686b16a5c.main__icon, [data-hover-target="icon"] #slcr_icon_text_last6959686b16a5c.main__icon:hover { background: rgba(255,255,255,0.01) !important; border-color: rgba(255,255,255,0.01) !important; color: #ffffff !important; } #slcr_icon_text_content6959686b16a5c{  } #slcr_icon_text_img6959686b16a5c{  height: auto; width: 60px;   border-radius: 0px;  }</style><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="icons__text" data-hover-target="box" data-icon-align="left" data-reset-responsive="false" data-vertical-align="top">
<div class="icons_wrap">
<div class="icon__container">
<i class="main__icon fas fa-envelope-open-text" id="slcr_icon_text_last6959686b16a5c"></i>
</div>
</div>
<div class="text__content" id="slcr_icon_text_content6959686b16a5c">
<h3 style="font-size: 27px;line-height: 37px;font-weight: bold;color: #fff;margin-top: 0">Pull up a Chair!</h3>
<h5 class="text-dimmer font-italic" style="color: #fff">Join our email community and receive Table Talk, our monthly newsletter with practice updates, wellness insights, and exclusive content.</h5>
</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space visible-xs" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
<div class="gf_browser_unknown gform_wrapper gform-theme gform-theme--foundation gform-theme--framework gform-theme--orbital subscribe-form_wrapper" data-form-index="0" data-form-theme="orbital" id="gform_wrapper_2"><style>#gform_wrapper_2[data-form-index="0"].gform-theme,[data-parent-form="2_0"]{--gf-color-primary: #204ce5;--gf-color-primary-rgb: 32, 76, 229;--gf-color-primary-contrast: #fff;--gf-color-primary-contrast-rgb: 255, 255, 255;--gf-color-primary-darker: #001AB3;--gf-color-primary-lighter: #527EFF;--gf-color-secondary: #fff;--gf-color-secondary-rgb: 255, 255, 255;--gf-color-secondary-contrast: #112337;--gf-color-secondary-contrast-rgb: 17, 35, 55;--gf-color-secondary-darker: #F5F5F5;--gf-color-secondary-lighter: #FFFFFF;--gf-color-out-ctrl-light: rgba(17, 35, 55, 0.1);--gf-color-out-ctrl-light-rgb: 17, 35, 55;--gf-color-out-ctrl-light-darker: rgba(104, 110, 119, 0.35);--gf-color-out-ctrl-light-lighter: #F5F5F5;--gf-color-out-ctrl-dark: #585e6a;--gf-color-out-ctrl-dark-rgb: 88, 94, 106;--gf-color-out-ctrl-dark-darker: #112337;--gf-color-out-ctrl-dark-lighter: rgba(17, 35, 55, 0.65);--gf-color-in-ctrl: #fff;--gf-color-in-ctrl-rgb: 255, 255, 255;--gf-color-in-ctrl-contrast: #112337;--gf-color-in-ctrl-contrast-rgb: 17, 35, 55;--gf-color-in-ctrl-darker: #F5F5F5;--gf-color-in-ctrl-lighter: #FFFFFF;--gf-color-in-ctrl-primary: #204ce5;--gf-color-in-ctrl-primary-rgb: 32, 76, 229;--gf-color-in-ctrl-primary-contrast: #fff;--gf-color-in-ctrl-primary-contrast-rgb: 255, 255, 255;--gf-color-in-ctrl-primary-darker: #001AB3;--gf-color-in-ctrl-primary-lighter: #527EFF;--gf-color-in-ctrl-light: rgba(17, 35, 55, 0.1);--gf-color-in-ctrl-light-rgb: 17, 35, 55;--gf-color-in-ctrl-light-darker: rgba(104, 110, 119, 0.35);--gf-color-in-ctrl-light-lighter: #F5F5F5;--gf-color-in-ctrl-dark: #585e6a;--gf-color-in-ctrl-dark-rgb: 88, 94, 106;--gf-color-in-ctrl-dark-darker: #112337;--gf-color-in-ctrl-dark-lighter: rgba(17, 35, 55, 0.65);--gf-radius: 3px;--gf-font-size-secondary: 14px;--gf-font-size-tertiary: 13px;--gf-icon-ctrl-number: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 0C4.26522 5.96046e-08 4.51957 0.105357 4.70711 0.292893L7.70711 3.29289C8.09763 3.68342 8.09763 4.31658 7.70711 4.70711C7.31658 5.09763 6.68342 5.09763 6.29289 4.70711L4 2.41421L1.70711 4.70711C1.31658 5.09763 0.683417 5.09763 0.292893 4.70711C-0.0976311 4.31658 -0.097631 3.68342 0.292893 3.29289L3.29289 0.292893C3.48043 0.105357 3.73478 0 4 0ZM0.292893 9.29289C0.683417 8.90237 1.31658 8.90237 1.70711 9.29289L4 11.5858L6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289C8.09763 9.68342 8.09763 10.3166 7.70711 10.7071L4.70711 13.7071C4.31658 14.0976 3.68342 14.0976 3.29289 13.7071L0.292893 10.7071C-0.0976311 10.3166 -0.0976311 9.68342 0.292893 9.29289Z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gf-icon-ctrl-select: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.097631 1.31658 -0.097631 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5.70711 5.70711C5.31658 6.09763 4.68342 6.09763 4.29289 5.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gf-icon-ctrl-search: url("data:image/svg+xml,%3Csvg width='640' height='640' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256 128c-70.692 0-128 57.308-128 128 0 70.691 57.308 128 128 128 70.691 0 128-57.309 128-128 0-70.692-57.309-128-128-128zM64 256c0-106.039 85.961-192 192-192s192 85.961 192 192c0 41.466-13.146 79.863-35.498 111.248l154.125 154.125c12.496 12.496 12.496 32.758 0 45.254s-32.758 12.496-45.254 0L367.248 412.502C335.862 434.854 297.467 448 256 448c-106.039 0-192-85.962-192-192z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gf-label-space-y-secondary: var(--gf-label-space-y-md-secondary);--gf-ctrl-border-color: #686e77;--gf-ctrl-size: var(--gf-ctrl-size-md);--gf-ctrl-label-color-primary: #112337;--gf-ctrl-label-color-secondary: #112337;--gf-ctrl-choice-size: var(--gf-ctrl-choice-size-md);--gf-ctrl-checkbox-check-size: var(--gf-ctrl-checkbox-check-size-md);--gf-ctrl-radio-check-size: var(--gf-ctrl-radio-check-size-md);--gf-ctrl-btn-font-size: var(--gf-ctrl-btn-font-size-md);--gf-ctrl-btn-padding-x: var(--gf-ctrl-btn-padding-x-md);--gf-ctrl-btn-size: var(--gf-ctrl-btn-size-md);--gf-ctrl-btn-border-color-secondary: #686e77;--gf-ctrl-file-btn-bg-color-hover: #EBEBEB;--gf-field-img-choice-size: var(--gf-field-img-choice-size-md);--gf-field-img-choice-card-space: var(--gf-field-img-choice-card-space-md);--gf-field-img-choice-check-ind-size: var(--gf-field-img-choice-check-ind-size-md);--gf-field-img-choice-check-ind-icon-size: var(--gf-field-img-choice-check-ind-icon-size-md);--gf-field-pg-steps-number-color: rgba(17, 35, 55, 0.8);}</style><div class="gform_anchor" id="gf_2" tabindex="-1"></div><form action="/about/?simply_static_page=8646#gf_2" class="subscribe-form" data-formid="2" enctype="multipart/form-data" id="gform_2" method="post" novalidate="" target="gform_ajax_frame_2"><div class="gf_invisible ginput_recaptchav3" data-sitekey="6LfPm1spAAAAAH53IvP6pykD-RbA2f3EKlWcbLSu" data-tabindex="0"><input class="gfield_recaptcha_response" id="input_e2b319fd2e41264554e8d155ce5222e0" name="input_e2b319fd2e41264554e8d155ce5222e0" type="hidden" value=""/></div>
<div class="gform-body gform_body"><div class="gform_fields top_label form_sublabel_below description_below validation_below" id="gform_fields_2"><div class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below field_validation_below gfield_visibility_visible" id="field_2_2"><label class="gfield_label gform-field-label" for="input_2_2">Instagram</label><div class="ginput_container"><input autocomplete="new-password" id="input_2_2" name="input_2" type="text" value=""/></div><div class="gfield_description" id="gfield_description_2_2">This field is for validation purposes and should be left unchanged.</div></div><div class="gfield gfield--type-email gfield--input-type-email gfield--width-full field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible" id="field_2_1"><label class="gfield_label gform-field-label" for="input_2_1">Email</label><div class="ginput_container ginput_container_email">
<input aria-invalid="false" class="large" id="input_2_1" name="input_1" placeholder="yourname@email.com" type="email" value=""/>
</div></div></div></div>
<div class="gform-footer gform_footer top_label"> <input class="gform_button button gform-button--width-full" data-submission-type="submit" id="gform_submit_button_2" onclick="gform.submission.handleButtonClick(this);" type="submit" value="SUBSCRIBE"/> <input name="gform_ajax" type="hidden" value="form_id=2&amp;title=&amp;description=&amp;tabindex=0&amp;theme=orbital&amp;styles=[]&amp;hash=afd68e735dace7bef149fe10d4219d89"/>
<input class="gform_hidden" data-js="gform_submission_method_2" name="gform_submission_method" type="hidden" value="iframe"/>
<input class="gform_hidden" data-js="gform_theme_2" id="gform_theme_2" name="gform_theme" type="hidden" value="orbital"/>
<input class="gform_hidden" data-js="gform_style_settings_2" id="gform_style_settings_2" name="gform_style_settings" type="hidden" value="[]"/>
<input class="gform_hidden" name="is_submit_2" type="hidden" value="1"/>
<input class="gform_hidden" name="gform_submit" type="hidden" value="2"/>
<input class="gform_hidden" name="gform_unique_id" type="hidden" value=""/>
<input class="gform_hidden" name="state_2" type="hidden" value="WyJbXSIsIjFmYjYyZGU5ODFiMGUzNjY4MWM2ZTU0MDMxMzRkMTBjIl0="/>
<input autocomplete="off" class="gform_hidden" id="gform_target_page_number_2" name="gform_target_page_number_2" type="hidden" value="0"/>
<input autocomplete="off" class="gform_hidden" id="gform_source_page_number_2" name="gform_source_page_number_2" type="hidden" value="1"/>
<input name="gform_field_values" type="hidden" value=""/>
</div>
</form>
</div>
<iframe id="gform_ajax_frame_2" name="gform_ajax_frame_2" src="about:blank" style="display:none;width:0px;height:0px;" title="This iframe contains the logic required to handle Ajax powered Gravity Forms."></iframe>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<div class="wpb_text_column wpb_content_element vc_custom_1717956560006">
<div class="wpb_wrapper">
<p class="text-dimmer" style="color: #fff; font-size: 14px; margin-top: 6px;">Read our <a href="/terms-and-conditions/" style="color: #fff; text-decoration: underline; font-weight: bold;">Terms &amp; Conditions</a> before signing up.</p>
</div>
</div></div></div></div></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
</div> </div>
</div>
</section>

  </main>
</BaseLayout>
