---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
import ProcessSection from "../components/ProcessSection.astro";
import SubscribeOverlaySection from "../components/SubscribeOverlaySection.astro";
import ContactRequestFormSection from "../components/ContactRequestFormSection.astro";

const BOOKING_URL = "https://booking.jenshawgonutrition.com/";
const EMAIL_URL = "mailto:info@jenshawgonutrition.com";
---

<BaseLayout>
    <title slot="head">Contact | Jen Shawgo Nutrition</title>
    <PageHero
        title="Let’s Connect"
        subtitle="If you are a prospective client needing more information or a provider looking to coordinate care for your patient, please submit the form below. Looking forward to hearing from you."
        image="/wp-content/uploads/2024/06/Services-header-scaled.jpg"
    />
    <main class="main__content">
        <section class="col-md-12 col-sm-12 col-xs-12 allow-gutenberg">
            <div class="row">
                <div class="container">
                    <div class="wpb-content-wrapper">
                        <div
                            class="vc_row wpb_row vc_row-fluid contact-mobile-padding content-dark data-bg-color-696188513748a vc_custom_1717865911580 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-696188513748a"
                        >
                            <style>
                                #slcr_icon_text_last6961885137c01.main__icon {
                                    display: block;
                                    text-align: center;
                                    color: #574142 !important;
                                    border-radius: 50%;
                                    border-color: #ffffff !important;
                                    background: #ffffff !important;
                                    height: 40px;
                                    width: 40px;
                                    line-height: 40px;
                                    font-size: 40px;
                                    transition: all ease 0.3s;
                                    -webkit-transition: all ease 0.3s;
                                }
                                [data-hover-target="box"]:hover
                                    #slcr_icon_text_last6961885137c01.main__icon,
                                [data-hover-target="icon"]
                                    #slcr_icon_text_last6961885137c01.main__icon:hover {
                                    background: #ffffff !important;
                                    border-color: #ffffff !important;
                                    color: #fff;
                                }
                                #slcr_icon_text_content6961885137c01 {
                                }
                                #slcr_icon_text_img6961885137c01 {
                                    height: auto;
                                    width: 60px;
                                    border-radius: 0px;
                                }
                            </style><style>
                                #slcr_icon_text_last6961885137d65.main__icon {
                                    display: block;
                                    text-align: center;
                                    color: #574142 !important;
                                    border-radius: 50%;
                                    border-color: #ffffff !important;
                                    background: #ffffff !important;
                                    height: 40px;
                                    width: 40px;
                                    line-height: 40px;
                                    font-size: 40px;
                                    transition: all ease 0.3s;
                                    -webkit-transition: all ease 0.3s;
                                }
                                [data-hover-target="box"]:hover
                                    #slcr_icon_text_last6961885137d65.main__icon,
                                [data-hover-target="icon"]
                                    #slcr_icon_text_last6961885137d65.main__icon:hover {
                                    background: #ffffff !important;
                                    border-color: #ffffff !important;
                                    color: #a80226 !important;
                                }
                                #slcr_icon_text_content6961885137d65 {
                                }
                                #slcr_icon_text_img6961885137d65 {
                                    height: auto;
                                    width: 60px;
                                    border-radius: 0px;
                                }
                            </style><div
                                class="wpb_column vc_column_container content-dark vc_col-sm-4 column-z-index-69618851375c2"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1606365466886"
                                >
                                    <div class="wpb_wrapper">
                                        <style>
                                            #slcr_custom_heading_6961885137a3c {
                                                font-size: 14px;
                                                color: #574142;
                                                line-height: 1.2;
                                                text-align: left;
                                            }
                                        </style><p
                                            id="slcr_custom_heading_6961885137a3c"
                                            class="vc_custom_heading sub-heading single font-800"
                                        >
                                            Questions?
                                        </p><div
                                            class="wpb_text_column wpb_content_element"
                                        >
                                            <div class="wpb_wrapper">
                                                <p>
                                                    <span
                                                        style="font-weight: 400; font-size: 16px;"
                                                        >Browse <a href="/faqs/"
                                                            >FAQs</a
                                                        > or Submit a Request</span
                                                    >
                                                </p>
                                            </div>
                                        </div><div
                                            class="vc_empty_space"
                                            style="height: 32px"
                                        >
                                            <span class="vc_empty_space_inner"
                                            ></span>
                                        </div>
                                        <div
                                            class="icons__text vc_custom_1749514712221"
                                            data-icon-align="left"
                                            data-reset-responsive="false"
                                            data-hover-target="box"
                                            data-vertical-align="top"
                                        >
                                            <div class="icons_wrap">
                                                <div class="icon__container">
                                                    <i
                                                        class="main__icon far fa-comment"
                                                        id="slcr_icon_text_last6961885137c01"
                                                    ></i>
                                                </div>
                                            </div>
                                            <div
                                                class="text__content"
                                                id="slcr_icon_text_content6961885137c01"
                                            >
                                                <h4
                                                    style="font-size: 21px;font-weight: bold;margin-top: 0"
                                                >
                                                    Let&#8217;s Talk
                                                </h4>
                                                <p>
                                                    <span class="font-700"
                                                        >Email:</span
                                                    >
                                                    <a
                                                        href={EMAIL_URL}
                                                        ><span>info@jenshawgonutrition.com</span
                                                        ></a
                                                    >
                                                </p>
                                                <p>
                                                    <a
                                                        style="font-weight: bold;text-decoration: underline"
                                                        href={BOOKING_URL}
                                                        target="_blank"
                                                        rel="noopener"
                                                        >Book a Discovery
                                                        Session</a
                                                    >
                                                </p>
                                            </div>
                                        </div><div
                                            class="vc_empty_space"
                                            style="height: 15px"
                                        >
                                            <span class="vc_empty_space_inner"
                                            ></span>
                                        </div>
                                        <div
                                            class="icons__text vc_custom_1749853036005"
                                            data-icon-align="left"
                                            data-reset-responsive="false"
                                            data-hover-target="box"
                                            data-vertical-align="top"
                                        >
                                            <div class="icons_wrap">
                                                <div class="icon__container">
                                                    <i
                                                        class="main__icon far fa-clock"
                                                        id="slcr_icon_text_last6961885137d65"
                                                    ></i>
                                                </div>
                                            </div>
                                            <div
                                                class="text__content"
                                                id="slcr_icon_text_content6961885137d65"
                                            >
                                                <h4
                                                    style="font-size: 21px;font-weight: bold;margin-top: 0"
                                                >
                                                    My Hours
                                                </h4>
                                                <p>
                                                    <span class="font-700"
                                                        >Tues. &#8211; Fri.</span
                                                    ><br />
                                                    By Appointment Only
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div
                                class="wpb_column vc_column_container content-dark vc_col-sm-1 column-z-index-6961885137e16"
                            >
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>

                            <ContactRequestFormSection />

  


                        </div>
                        <ProcessSection />
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <SubscribeOverlaySection />
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BlOG CONTAINER ENDS -->
    </main>
</BaseLayout>
