---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
import CtaBarBooking from "../components/CtaBarBooking.astro";
import ProcessSection from "../components/ProcessSection.astro";
---

<BaseLayout>
  <title slot="head">FAQs | Jen Shawgo Nutrition</title>
  <PageHero
    title="Frequently Asked Questions"
    subtitle="“Finding the right answers begins with the right questions.” Frank Sonnenberg"
    image="/wp-content/uploads/2024/06/FAQ-header-scaled.jpg"
  />
  <main class="main__content">
    <section class="col-md-12 col-sm-12 col-xs-12 allow-gutenberg">
      <div class="row">
        <div class="container">
          <div class="wpb-content-wrapper">
              <div
                class="vc_row wpb_row vc_row-fluid faqs-mobile-padding content-dark data-bg-color-6961884f5b47e vc_custom_1717865264472 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884f5b47e"
                data-vc-full-width="true"
                data-vc-full-width-init="false"
              >
                <div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5b585"
                >
                  <div class="vc_column-inner vc_custom_1606274026269">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-8 column-z-index-6961884f5b637"
                >
                  <div class="vc_column-inner vc_custom_1606285280894">
                    <div class="wpb_wrapper">
                      <p
                        class="vc_custom_heading sub-heading single pink font-800"
                        id="slcr_custom_heading_6961884f5ba38"
                      >
                        General Questions
                      </p><ul
                        class="accordion m_accordion6961884f5bd7d accordion__03 one-tab"
                      >
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5bc92"
                          >
                            <h5 class="gap-0 mb-0">
                              What is integrative nutrition counseling?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5bc92"
                          >
                            <p>
                              Integrative nutrition counseling is a customized
                              approach to nutrition and lifestyle that aims to
                              promote optimal health and overall well-being for
                              each individual. It focuses on the root cause and
                              takes into account the whole person to help
                              prevent and combat chronic and metabolic
                              illnesses.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5bcd9"
                          >
                            <h5 class="gap-0 mb-0">How do I get started?</h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5bcd9"
                          >
                            <p>
                              Start with a free 15-minute discovery call to talk
                              through your goals, coverage options, and next
                              steps. Be sure to check out the FAQs first to
                              learn more about what to expect. If everything
                              aligns, we'll move forward with scheduling your
                              initial consultation.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5bcf8"
                          >
                            <h5 class="gap-0 mb-0">
                              Can I meet with you in person for my sessions?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5bcf8"
                          >
                            <p>
                              At this time all sessions are conducted virtually
                              using a HIPAA-secure telehealth platform that
                              provides a convenient and safe way to connect, so
                              you can feel comfortable and confident during our
                              sessions.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5bd11"
                          >
                            <h5 class="gap-0 mb-0">
                              What ages do you work with?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5bd11"
                          >
                            <p>
                              Anyone 18 and over is invited to work with me.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5bd28"
                          >
                            <h5 class="gap-0 mb-0">
                              What are your credentials?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5bd28"
                          >
                            <p>
                              I hold a Master of Science in Clinical Nutrition
                              and am a board-certified Nutrition Specialist®
                              (CNS®), licensed dietitian nutritionist (LDN),
                              certified health and wellness coach, with
                              specialized training in nutritional genomics from
                              the American Nutrition Association (ANA).
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5bd41"
                          >
                            <h5 class="gap-0 mb-0">
                              What is a Certified Nutrition Specialist®?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5bd41"
                          >
                            <p>
                              The Certified Nutrition Specialist® credential
                              (CNS®) is the most advanced certification for
                              personalized nutrition practitioners. Certified
                              Nutrition Specialists practice science-based
                              personalized nutrition therapy to power people to
                              health. This credential requires a Master of
                              Science degree in nutrition, completion of 1,000
                              hours of supervised practice experience, and
                              passing a rigorous board examination to
                              demonstrate their education, experience, and
                              training. They are also required to re-certify
                              every 5 years by completing at least 75 hours of
                              continuing education.
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5be1d"
                >
                  <div class="vc_column-inner vc_custom_1606274032217">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div>
              </div>
              <div class="vc_row-full-width vc_clearfix"></div>
              <div
                class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961884f5bfda vc_custom_1715874124661 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884f5bfda"
                data-vc-full-width="true"
                data-vc-full-width-init="false"
              >
                <div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5c053"
                >
                  <div class="vc_column-inner vc_custom_1606274026269">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-8 column-z-index-6961884f5c0b8"
                >
                  <div class="vc_column-inner vc_custom_1606285280894">
                    <div class="wpb_wrapper">
                    <p
                        class="vc_custom_heading sub-heading single pink font-800"
                        id="slcr_custom_heading_6961884f5c1e3"
                      >
                        Sessions &amp; Packages
                      </p><ul
                        class="accordion m_accordion6961884f5c41c accordion__03 one-tab"
                      >
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c323"
                          >
                            <h5 class="gap-0 mb-0">
                              What is a Discovery Session?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c323"
                          >
                            <p>
                              During this free 15-minute session, we’ll talk
                              about your current health concerns and wellness
                              goals, and explore how nutrition counseling may
                              support you. It’s also a great time to ask
                              questions about my process, available packages, or
                              what working together looks like. We’ll review
                              your insurance coverage and discuss payment
                              options so you know exactly what to expect. Most
                              importantly, this call helps us both ensure it's
                              the right fit to support your success.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c36c"
                          >
                            <h5 class="gap-0 mb-0">
                              What is an Initial Consultation?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c36c"
                          >
                            <p>
                              This session is an in-depth assessment of your
                              nutritional health. During our initial
                              consultation, you will have my undivided attention
                              as you share your unique health history, concerns,
                              and personal goals. This will include a
                              comprehensive nutritional assessment of your food
                              preferences, intolerances or allergies, daily food
                              intake, personal diet history, and relationship
                              with food. Additionally, we will review any
                              current lab work and/or notes from your physician.
                              This will help me gain a deeper understanding of
                              your individual needs and preferences, enabling me
                              to begin creating the foundation of a personalized
                              plan tailored specifically to your needs and
                              goals.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c394"
                          >
                            <h5 class="gap-0 mb-0">
                              How do I prepare for my initial consultation?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c394"
                          >
                            <p>
                              Once your initial consultation is booked, be sure
                              to add the appointment to your calendar and keep
                              an eye on your inbox for important next steps. You
                              may receive messages from Healthie or Berry
                              Street, my HIPAA-compliant telehealth and billing
                              partners. These emails may include forms,
                              insurance updates, or portal access details. To
                              prepare for your session, please have a full list
                              of current medications and supplements ready, and
                              upload any recent lab work you'd like reviewed
                              before our meeting.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c3bf"
                          >
                            <h5 class="gap-0 mb-0">
                              Do I need follow-up sessions?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c3bf"
                          >
                            <p>
                              Follow-up sessions are essential to your ultimate
                              success! Developing new eating and lifestyle
                              habits requires time, motivation, and coaching to
                              create lifelong change. During follow-up sessions,
                              our focus will be on reassessing your lifestyle
                              and nutrition choices, celebrating your successes,
                              and equipping you with the necessary tools to
                              tackle any obstacles that may arise. Together, we
                              will refine your plan and goals through
                              personalized education on nutrition and lifestyle.
                              We can make modifications to the plan as necessary
                              and help you stay on track.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c3e2"
                          >
                            <h5 class="gap-0 mb-0">
                              How often will I need a follow-up session?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c3e2"
                          >
                            <p>
                              Creating sustainable diet and lifestyle changes
                              takes time, support, and space to ask questions as
                              they arise. Regular check-ins—either weekly or
                              biweekly—tend to be the most effective way to
                              build momentum and see lasting results. We’ll work
                              together to personalize your follow-up schedule in
                              a way that fits your goals, lifestyle, and
                              necessary level of support.
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5c49b"
                >
                  <div class="vc_column-inner vc_custom_1606274032217">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div>
              </div>
              <div class="vc_row-full-width vc_clearfix"></div>
              <div
                class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961884f5c594 vc_custom_1715874132230 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884f5c594"
                data-vc-full-width="true"
                data-vc-full-width-init="false"
              >
                <div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5c613"
                >
                  <div class="vc_column-inner vc_custom_1606274026269">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-8 column-z-index-6961884f5c6d2"
                >
                  <div class="vc_column-inner vc_custom_1606285280894">
                    <div class="wpb_wrapper">
                      <p
                        class="vc_custom_heading sub-heading single pink font-800"
                        id="slcr_custom_heading_6961884f5c80a"
                      >
                        Supplements and Testing
                      </p><ul
                        class="accordion m_accordion6961884f5c9cc accordion__03 one-tab"
                      >
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c919"
                          >
                            <h5 class="gap-0 mb-0">
                              Do you offer laboratory testing?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c919"
                          >
                            <p>
                              Yes, nutritionally-focused laboratory testing is
                              available at an additional upfront cost, and
                              availability may vary by state of residence.
                              Nutrigenomic testing can also be added at any time
                              during your care. Clients often have 'normal'
                              conventional lab results, yet they still feel
                              'off'. Using functional lab ranges and tests to
                              see how the body is utilizing (or reacting to)
                              nutrients, hormones, and other compounds helps
                              direct the course of your wellness plan and can
                              keep us from wasting time (and money) on
                              guesswork.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c948"
                          >
                            <h5 class="gap-0 mb-0">
                              How do I keep my other healthcare providers aware
                              of the work we are doing together?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c948"
                          >
                            <p>
                              With your signed consent, communication can be
                              sent about your personalized plan to your other
                              healthcare providers inviting collaboration to
                              ensure you receive comprehensive care.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c965"
                          >
                            <h5 class="gap-0 mb-0">
                              Do you recommend supplements?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c965"
                          >
                            <p>
                              Although I believe in a food-first approach, most
                              of the time nutritional supplements are part of
                              your plan. It can be challenging to get all the
                              nutrients you need through diet alone, especially
                              when trying to establish healthy eating patterns.
                              Even with a healthy diet, you may still require
                              additional supplements to help you feel your best
                              and help support any chronic conditions you may
                              have.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c97e"
                          >
                            <h5 class="gap-0 mb-0">
                              How much will my supplements cost?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c97e"
                          >
                            <p>
                              Since each plan is individualized, the exact cost
                              is not predetermined. Discounts are offered on all
                              professional-grade supplements to anyone who
                              orders through my online dispensary. This provides
                              a lower cost than what you are likely to find if
                              you were to search for the same quality products
                              on your own.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5c995"
                          >
                            <h5 class="gap-0 mb-0">
                              Where do I order my supplements?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5c995"
                          >
                            <p>
                              Supplements are shipped directly to you through my
                              online dispensary supported by Fullscript. To
                              access online ordering go to:
                              https://us.fullscript.com/welcome/jshawgo or use
                              the link at the bottom of the page.
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5ca51"
                >
                  <div class="vc_column-inner vc_custom_1606274032217">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div>
              </div>
              <div class="vc_row-full-width vc_clearfix"></div>
              <div
                class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961884f5cb2d vc_custom_1717831809119 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884f5cb2d"
                data-vc-full-width="true"
                data-vc-full-width-init="false"
              >
                <div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5cb84"
                >
                  <div class="vc_column-inner vc_custom_1606274026269">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-8 column-z-index-6961884f5cbd0"
                >
                  <div class="vc_column-inner vc_custom_1606285280894">
                    <div class="wpb_wrapper">
                      <p
                        class="vc_custom_heading sub-heading single pink font-800"
                        id="slcr_custom_heading_6961884f5cca4"
                      >
                        Billing &amp; Payments
                      </p><ul
                        class="accordion m_accordion6961884f5cfb4 accordion__03 one-tab"
                      >
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5ce99"
                          >
                            <h5 class="gap-0 mb-0">Do you take insurance?</h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5ce99"
                          >
                            <p>
                              Yes! I’m currently in-network with Aetna, BCBS,
                              and United Healthcare. Most clients with coverage
                              pay $0 out of pocket for preventive nutrition
                              care; however, coverage varies by plan and state
                              of residence. I work with insurance in the
                              following states: Arizona, Arkansas, California,
                              Colorado, Connecticut, Illinois, Maryland,
                              Massachusetts, Michigan, New Jersey, New York,
                              Texas, Virginia, and Washington.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5cf0a"
                          >
                            <h5 class="gap-0 mb-0">
                              How does billing and insurance work?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5cf0a"
                          >
                            <p>
                              All of my billing and insurance is managed through
                              Berry Street, my trusted billing and telehealth
                              portal partner. They handle verification of
                              benefits, claims, payment processing, and any
                              questions about coverage or payments. Of course,
                              I’m always here to help guide you through the
                              process or connect you with the right support.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="accordion-header mh_accordion6961884f5cf54"
                          >
                            <h5 class="gap-0 mb-0">
                              What forms of payment do you accept?
                            </h5>
                          </div>
                          <div
                            class="accordion-content"
                            id="mhp_accordion6961884f5cf54"
                          >
                            <p>
                              All major credit cards, debit cards, and HSA/FSA
                              cards are accepted forms of payment. Please check
                              with your HSA/FSA provider to confirm coverage of
                              nutritional consultations and follow-up sessions.
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5d023"
                >
                  <div class="vc_column-inner vc_custom_1606274032217">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div>
              </div>
              <div class="vc_row-full-width vc_clearfix"></div>
              <div
                class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961884f5d14d vc_custom_1717831925972 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961884f5d14d"
                data-vc-full-width="true"
                data-vc-full-width-init="false"
              >
                <div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5d1b7"
                >
                  <div class="vc_column-inner vc_custom_1606274026269">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div><div
                  class="wpb_column vc_column_container content-dark vc_col-sm-8 column-z-index-6961884f5d20c"
                >
                  <div class="vc_column-inner vc_custom_1606285280894">
                    <div class="wpb_wrapper">
                      <div
                        class="wpb_text_column wpb_content_element vc_custom_1717832143703"
                      >
                        <div class="wpb_wrapper">
                          <h5 style="font-weight: 600; line-height: 33px;">
                            Still have questions? <a
                              href="/contact/">Contact Us</a
                            >
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="wpb_column vc_column_container content-dark vc_col-sm-2 column-z-index-6961884f5d35c"
                >
                  <div class="vc_column-inner vc_custom_1606274032217">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div>
              </div>
              <div class="vc_row-full-width vc_clearfix"></div>
              <CtaBarBooking />
              <ProcessSection />
              <div class="vc_row-full-width vc_clearfix"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
