---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Pricing | Jen Shawgo Nutrition">
  <main class="main__content">

<section class="col-md-12 col-sm-12 col-xs-12 allow-gutenberg">
<div class="row">
<div class="container">
<div class="wpb-content-wrapper"><p><style></style></p><div class="vc_row wpb_row vc_row-fluid pricing-mobile-padding content-dark data-bg-color-6959686ab3193 vc_custom_1717865360373 vc_row-has-fill row-z-index-6959686ab3193" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686ab330a">
<div class="vc_column-inner">
<div class="wpb_wrapper"><style>#slcr_custom_heading_6959686ab37c6{ font-size: 33px;line-height: 43px;text-align: center;  }</style><h2 class="vc_custom_heading vc_custom_1717102833393 font-700" id="slcr_custom_heading_6959686ab37c6">The Process</h2><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_10 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text wpb_content_element wpb_content_element"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line" style="border-color:#a80226;"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line" style="border-color:#a80226;"></span></span>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid"><style> #slcr_icon_last6959686ab3e06.main__icon { text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 80px; width: 80px; line-height: 80px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } #slcr_icon_last6959686ab3e06.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #332324 !important; }</style><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="icon__container" data-hover-target="icon" data-icon-align="center">
<i class="main__icon fas fa-landmark" id="slcr_icon_last6959686ab3e06"></i>
</div><style>#slcr_custom_heading_6959686ab3ee6{ font-size: 19px;text-align: center;  }</style><h4 class="vc_custom_heading vc_custom_1715726427078 font-700" id="slcr_custom_heading_6959686ab3ee6">Review FAQ and Policies</h4><style>#slcr_custom_heading_6959686ab3f63{ text-align: center;  }</style><p class="vc_custom_heading font-400" id="slcr_custom_heading_6959686ab3f63">Learn about what to expect when working with me.</p></div></div></div><style> #slcr_icon_last6959686ab4019.main__icon { text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 80px; width: 80px; line-height: 80px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } #slcr_icon_last6959686ab4019.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #332324 !important; }</style><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="icon__container" data-hover-target="icon" data-icon-align="center">
<i class="main__icon fas fa-phone" id="slcr_icon_last6959686ab4019"></i>
</div><style>#slcr_custom_heading_6959686ab4098{ font-size: 19px;text-align: center;  }</style><h4 class="vc_custom_heading vc_custom_1715726506041 font-700" id="slcr_custom_heading_6959686ab4098">Discovery Session</h4><style>#slcr_custom_heading_6959686ab4105{ text-align: center;  }</style><p class="vc_custom_heading font-400" id="slcr_custom_heading_6959686ab4105">Let’s chat to determine if I’m the right nutritionist for you.</p></div></div></div><style> #slcr_icon_last6959686ab41f5.main__icon { text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 80px; width: 80px; line-height: 80px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } #slcr_icon_last6959686ab41f5.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #332324 !important; }</style><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="icon__container" data-hover-target="icon" data-icon-align="center">
<i class="main__icon vc-material vc-material-headset_mic" id="slcr_icon_last6959686ab41f5"></i>
</div><style>#slcr_custom_heading_6959686ab42d3{ font-size: 19px;text-align: center;  }</style><h4 class="vc_custom_heading vc_custom_1715726582459 font-700" id="slcr_custom_heading_6959686ab42d3">Initial Consultation</h4><style>#slcr_custom_heading_6959686ab4379{ text-align: center;  }</style><p class="vc_custom_heading font-400" id="slcr_custom_heading_6959686ab4379">An in-depth assessment of your nutritional health.</p></div></div></div><style> #slcr_icon_last6959686ab4469.main__icon { text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 80px; width: 80px; line-height: 80px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } #slcr_icon_last6959686ab4469.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #332324 !important; }</style><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="icon__container" data-hover-target="icon" data-icon-align="center">
<i class="main__icon far fa-calendar-alt" id="slcr_icon_last6959686ab4469"></i>
</div><style>#slcr_custom_heading_6959686ab44ec{ font-size: 19px;text-align: center;  }</style><h4 class="vc_custom_heading vc_custom_1715726655400 font-700" id="slcr_custom_heading_6959686ab44ec">Follow Up Sessions</h4><style>#slcr_custom_heading_6959686ab4551{ text-align: center;  }</style><p class="vc_custom_heading font-400" id="slcr_custom_heading_6959686ab4551">Ongoing support and monitoring to set you up for success.</p></div></div></div></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style></style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686ab46aa vc_custom_1716244961859 vc_row-has-fill row-z-index-6959686ab46aa" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686ab4810">
<div class="vc_column-inner vc_custom_1604060220689">
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2 vc_col-lg-3 vc_col-md-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="text-center wpb_column vc_column_container vc_col-sm-8 vc_col-lg-6 vc_col-md-8"><div class="vc_column-inner"><div class="wpb_wrapper"><style>#slcr_custom_heading_6959686ab4ca1{ font-size: 14px;color: #574142;line-height: 1.2;text-align: center;  }</style><p class="vc_custom_heading sub-heading single middle font-800" id="slcr_custom_heading_6959686ab4ca1">Pricing</p><style>#slcr_custom_heading_6959686ab4d26{ font-size: 33px;line-height: 43px;text-align: center;  }</style><h2 class="vc_custom_heading font-700" id="slcr_custom_heading_6959686ab4d26">Simple prices, flexible options, &amp; nothing hidden.</h2><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text wpb_content_element wpb_content_element"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line" style="border-color:#574142;"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line" style="border-color:#574142;"></span></span>
</div><style>#slcr_custom_heading_6959686ab4ed3{ text-align: center;  }</style><p class="vc_custom_heading content-hide vc_custom_1749853330893 font-400" id="slcr_custom_heading_6959686ab4ed3">Many clients pay $0 out of pocket with in-network coverage from Aetna and United Healthcare, with more plans coming soon!<br/>
No insurance? No problem!<br/>
Affordable self-pay rates and discounted packages are available, with multiple payment options including HSA/FSA.<br/>
No insurance? No problem!<br/>
Affordable self-pay rates and discounted packages are available to help make expert nutrition support accessible to everyone, with multiple payment options available, including HSA/FSA accounts.</p></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><style>.slcr_custom_price_list_item_css6959686ab54d0{  } .slcr_custom_price_list_item_css6959686ab54d0 .wrap .item-name{   } .slcr_custom_price_list_item_css6959686ab54d0 .wrap .item-price{  } .slcr_custom_price_list_item_css6959686ab54d0 p{   }</style><style>.slcr_custom_price_list_item_css6959686ab54f6{  } .slcr_custom_price_list_item_css6959686ab54f6 .wrap .item-name{   } .slcr_custom_price_list_item_css6959686ab54f6 .wrap .item-price{  } .slcr_custom_price_list_item_css6959686ab54f6 p{   }</style><style>.slcr_custom_price_list_item_css6959686ab550c{  } .slcr_custom_price_list_item_css6959686ab550c .wrap .item-name{   } .slcr_custom_price_list_item_css6959686ab550c .wrap .item-price{  } .slcr_custom_price_list_item_css6959686ab550c p{   }</style><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_wp_text wpb_content_element"><div class="widget widget_text"> <div class="textwidget"><p>Many clients pay $0 out-of-pocket with coverage from Aetna, BCBS, or United Healthcare. Benefit checks are risk-free and included with Discovery Calls. Coverage varies by plan and is clearly explained upfront for your peace of mind.</p>
<p>No insurance coverage? No problem! Affordable self-pay rates and discounted packages are available, with multiple payment options including HSA/FSA.</p>
</div>
</div></div>
<div class="slcr_price_list">
<div class="price-list type-2 slcr_custom_price_list_item_css6959686ab54d0">
<div class="wrap">
<h5 class="item-name">Initial Consultation</h5>
<div class="item-price">$180.00</div>
</div>
<p class="item-description">An in-depth session to review your health history, address concerns, and establish goals through a comprehensive nutritional health assessment. 90 minute session</p>
</div>
<div class="price-list type-2 slcr_custom_price_list_item_css6959686ab54f6">
<div class="wrap">
<h5 class="item-name">Follow-up Session</h5>
<div class="item-price">$60.00 / $120.00</div>
</div>
<p class="item-description">Ongoing reassessment, support, and education to help you succeed and achieve your nutritional health and wellness goals. 30 or 60 minute sessions</p>
</div>
<div class="price-list type-2 slcr_custom_price_list_item_css6959686ab550c">
<div class="wrap">
<h5 class="item-name">Total Wellness Kickstart (save 10%)</h5>
<div class="item-price">$864.00 (regularly $960)</div>
</div>
<p class="item-description">The perfect way to jumpstart your health journey! This package provides everything you need to get started on your way to wellness and includes: 1, 90-minute initial consultation and 6, 60-minute follow-up sessions. Option to pay in 3 monthly installments of just $270/month.</p>
</div>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="font-weight: 400;">*Nutritionally-focused laboratory testing is available at an additional upfront cost and availability may vary by state.</span></p>
</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style></style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686ab57c3 vc_custom_1717100116338 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6959686ab57c3" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686ab58c8">
<div class="vc_column-inner vc_custom_1604126572727">
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><style>#slcr_custom_heading_6959686ab5b8c{ font-size: 23px;color: #574142;text-align: center;  letter-spacing: 1px; }</style><h2 class="vc_custom_heading center-xs vc_custom_1716420790832 font-800" id="slcr_custom_heading_6959686ab5b8c">Accepted payment methods:</h2></div></div></div></div><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_10 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text vc_custom_1716420786062 wpb_content_element vc_custom_1716420786062 wpb_content_element"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line" style="border-color:#a80226;"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line" style="border-color:#a80226;"></span></span>
</div>
<div class="owl owl-carousel carousel-shortcode" data-carousel-ani-i="" data-carousel-ani-o="" data-carousel-animatein="" data-carousel-animateout="" data-carousel-autoplay="false" data-carousel-dots="true" data-carousel-dots-mob="false" data-carousel-dots-pc="false" data-carousel-dots-tab="false" data-carousel-items-mob="2" data-carousel-items-pc="7" data-carousel-items-tab="5" data-carousel-loop="false" data-carousel-margin="30" data-carousel-nav-mob="true" data-carousel-nav-pc="false" data-carousel-nav-tab="true" data-carousel-responsiveclass="true" data-carousel-smartspeed="850" data-carousel-stage-padding="0"><div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235057095">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="Visa logo" class="vc_single_image-img attachment-full" decoding="async" height="81" src="/wp-content/uploads/2024/05/Visa.png" title="Visa" width="151"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235095958">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="Mastercard logo" class="vc_single_image-img attachment-full" decoding="async" height="81" src="/wp-content/uploads/2024/05/Mastercard.png" title="Mastercard" width="151"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235108251">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="American Express logo" class="vc_single_image-img attachment-full" decoding="async" height="81" src="/wp-content/uploads/2024/05/Amex.png" title="Amex" width="151"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235119626">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="Discover card logo" class="vc_single_image-img attachment-full" decoding="async" height="81" loading="lazy" src="/wp-content/uploads/2024/05/Discover.png" title="Discover" width="151"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235130192">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="Debit payments accepted" class="vc_single_image-img attachment-full" decoding="async" height="83" loading="lazy" sizes="auto, (max-width: 152px) 100vw, 152px" src="/wp-content/uploads/2024/05/debit.png" srcset="/wp-content/uploads/2024/05/debit.png 152w, /wp-content/uploads/2024/05/debit-150x83.png 150w" title="debit" width="152"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235173381">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="HSA Payment accepted" class="vc_single_image-img attachment-full" decoding="async" height="83" loading="lazy" src="/wp-content/uploads/2024/05/HSA.png" title="HSA" width="153"/></div>
</figure>
</div> <div class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235183066">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border_grey"><img alt="FSA payment accepted" class="vc_single_image-img attachment-full" decoding="async" height="83" loading="lazy" src="/wp-content/uploads/2024/05/FSA.png" title="FSA" width="153"/></div>
</figure>
</div>
</div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style></style><div class="vc_row wpb_row vc_row-fluid ofvs content-dark data-bg-color-6959686ab7f01 vc_custom_1716245059653 vc_row-has-fill row-z-index-6959686ab7f01" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686ab8080">
<div class="vc_column-inner">
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1604592700874"><style>#slcr_icon_text_last6959686ab83f3.main__icon { display: block; text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 40px; width: 40px; line-height: 40px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } [data-hover-target="box"]:hover #slcr_icon_text_last6959686ab83f3.main__icon, [data-hover-target="icon"] #slcr_icon_text_last6959686ab83f3.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #a80226 !important; } #slcr_icon_text_content6959686ab83f3{  } #slcr_icon_text_img6959686ab83f3{  height: auto; width: 60px;   border-radius: 0px;  }</style><div class="counter-border even wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1605635702081"><div class="wpb_wrapper">
<div class="icons__text icon-text-custom" data-hover-target="box" data-icon-align="left" data-reset-responsive="false" data-vertical-align="top">
<div class="icons_wrap">
<div class="icon__container">
<i class="main__icon far fa-comment" id="slcr_icon_text_last6959686ab83f3"></i>
</div>
</div>
<div class="text__content" id="slcr_icon_text_content6959686ab83f3">
<h4 style="font-size: 21px;font-weight: bold;margin-top: 0">Let’s Talk</h4>
<p><span class="font-700">Email:</span> <a href="/cdn-cgi/l/email-protection#f39a9d959cb399969d809b9284949c9d8687819a879a9c9ddd909c9e"><span class="__cf_email__" data-cfemail="5f363139301f353a312c373e283830312a2b2d362b363031713c3032">[email protected]</span></a></p>
<p><a href="https://booking.jenshawgonutrition.com/" rel="noopener" style="font-weight: bold;text-decoration: underline" target="_blank">Book a Discovery Session</a></p>
</div>
</div><div class="vc_empty_space visible-xs" style="height: 32px"><span class="vc_empty_space_inner"></span></div></div></div></div><style>#slcr_icon_text_last6959686ab86c2.main__icon { display: block; text-align: center; color: #574142 !important; border-radius: 50%; border-color: #ffffff !important; background: #ffffff !important;  height: 40px; width: 40px; line-height: 40px; font-size: 40px; transition: all ease .3s; -webkit-transition: all ease .3s; } [data-hover-target="box"]:hover #slcr_icon_text_last6959686ab86c2.main__icon, [data-hover-target="icon"] #slcr_icon_text_last6959686ab86c2.main__icon:hover { background: #ffffff !important; border-color: #ffffff !important; color: #a80226 !important; } #slcr_icon_text_content6959686ab86c2{  } #slcr_icon_text_img6959686ab86c2{  height: auto; width: 60px;   border-radius: 0px;  }</style><div class="counter-border even wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1605635711922"><div class="wpb_wrapper">
<div class="icons__text icon-text-custom" data-hover-target="box" data-icon-align="left" data-reset-responsive="false" data-vertical-align="top">
<div class="icons_wrap">
<div class="icon__container">
<i class="main__icon far fa-clock" id="slcr_icon_text_last6959686ab86c2"></i>
</div>
</div>
<div class="text__content" id="slcr_icon_text_content6959686ab86c2">
<h4 style="font-size: 21px;font-weight: bold;margin-top: 0">My Hours</h4>
<p><span class="font-700">Tues. – Fri.</span><br/>
By Appointment Only</p>
</div>
</div></div></div></div></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<style>[data-bg-color-6959686ab8851]:before { content: ""; position: absolute; background-color: #151110; height: 100%; width: 100%; top: 0; left: 0; z-index: 1; } .data-bg-color-6959686ab8851.vc_row.vc_row-flex::after, .vc_row.vc_row-flex::before { display: inherit; } .data-bg-color-6959686ab8851.vc_row:after, .vc_row:before { content: " "; display: inherit; }</style><div class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6959686ab8851 vc_custom_1715985333682 vc_row-has-fill row-z-index-6959686ab8851" data-bg-color-6959686ab8851="8" data-bg-overlay="8" data-vc-full-width="true" data-vc-full-width-init="false"><style></style><div class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-6959686ab8925">
<div class="vc_column-inner">
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><style>#slcr_icon_text_last6959686ab8b1f.main__icon { display: block; text-align: center; color: #ffffff !important; border-radius: 50%; border-color: rgba(0,0,0,0.01) !important; background: rgba(255,255,255,0.01) !important;  height: 48px; width: 48px; line-height: 48px; font-size: 48px; transition: all ease .3s; -webkit-transition: all ease .3s; } [data-hover-target="box"]:hover #slcr_icon_text_last6959686ab8b1f.main__icon, [data-hover-target="icon"] #slcr_icon_text_last6959686ab8b1f.main__icon:hover { background: rgba(255,255,255,0.01) !important; border-color: rgba(255,255,255,0.01) !important; color: #ffffff !important; } #slcr_icon_text_content6959686ab8b1f{  } #slcr_icon_text_img6959686ab8b1f{  height: auto; width: 60px;   border-radius: 0px;  }</style><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="icons__text" data-hover-target="box" data-icon-align="left" data-reset-responsive="false" data-vertical-align="top">
<div class="icons_wrap">
<div class="icon__container">
<i class="main__icon fas fa-envelope-open-text" id="slcr_icon_text_last6959686ab8b1f"></i>
</div>
</div>
<div class="text__content" id="slcr_icon_text_content6959686ab8b1f">
<h3 style="font-size: 27px;line-height: 37px;font-weight: bold;color: #fff;margin-top: 0">Pull up a Chair!</h3>
<h5 class="text-dimmer font-italic" style="color: #fff">Join our email community and receive Table Talk, our monthly newsletter with practice updates, wellness insights, and exclusive content.</h5>
</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space visible-xs" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
<div class="gf_browser_unknown gform_wrapper gform-theme gform-theme--foundation gform-theme--framework gform-theme--orbital subscribe-form_wrapper" data-form-index="0" data-form-theme="orbital" id="gform_wrapper_2"><style>#gform_wrapper_2[data-form-index="0"].gform-theme,[data-parent-form="2_0"]{--gf-color-primary: #204ce5;--gf-color-primary-rgb: 32, 76, 229;--gf-color-primary-contrast: #fff;--gf-color-primary-contrast-rgb: 255, 255, 255;--gf-color-primary-darker: #001AB3;--gf-color-primary-lighter: #527EFF;--gf-color-secondary: #fff;--gf-color-secondary-rgb: 255, 255, 255;--gf-color-secondary-contrast: #112337;--gf-color-secondary-contrast-rgb: 17, 35, 55;--gf-color-secondary-darker: #F5F5F5;--gf-color-secondary-lighter: #FFFFFF;--gf-color-out-ctrl-light: rgba(17, 35, 55, 0.1);--gf-color-out-ctrl-light-rgb: 17, 35, 55;--gf-color-out-ctrl-light-darker: rgba(104, 110, 119, 0.35);--gf-color-out-ctrl-light-lighter: #F5F5F5;--gf-color-out-ctrl-dark: #585e6a;--gf-color-out-ctrl-dark-rgb: 88, 94, 106;--gf-color-out-ctrl-dark-darker: #112337;--gf-color-out-ctrl-dark-lighter: rgba(17, 35, 55, 0.65);--gf-color-in-ctrl: #fff;--gf-color-in-ctrl-rgb: 255, 255, 255;--gf-color-in-ctrl-contrast: #112337;--gf-color-in-ctrl-contrast-rgb: 17, 35, 55;--gf-color-in-ctrl-darker: #F5F5F5;--gf-color-in-ctrl-lighter: #FFFFFF;--gf-color-in-ctrl-primary: #204ce5;--gf-color-in-ctrl-primary-rgb: 32, 76, 229;--gf-color-in-ctrl-primary-contrast: #fff;--gf-color-in-ctrl-primary-contrast-rgb: 255, 255, 255;--gf-color-in-ctrl-primary-darker: #001AB3;--gf-color-in-ctrl-primary-lighter: #527EFF;--gf-color-in-ctrl-light: rgba(17, 35, 55, 0.1);--gf-color-in-ctrl-light-rgb: 17, 35, 55;--gf-color-in-ctrl-light-darker: rgba(104, 110, 119, 0.35);--gf-color-in-ctrl-light-lighter: #F5F5F5;--gf-color-in-ctrl-dark: #585e6a;--gf-color-in-ctrl-dark-rgb: 88, 94, 106;--gf-color-in-ctrl-dark-darker: #112337;--gf-color-in-ctrl-dark-lighter: rgba(17, 35, 55, 0.65);--gf-radius: 3px;--gf-font-size-secondary: 14px;--gf-font-size-tertiary: 13px;--gf-icon-ctrl-number: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 0C4.26522 5.96046e-08 4.51957 0.105357 4.70711 0.292893L7.70711 3.29289C8.09763 3.68342 8.09763 4.31658 7.70711 4.70711C7.31658 5.09763 6.68342 5.09763 6.29289 4.70711L4 2.41421L1.70711 4.70711C1.31658 5.09763 0.683417 5.09763 0.292893 4.70711C-0.0976311 4.31658 -0.097631 3.68342 0.292893 3.29289L3.29289 0.292893C3.48043 0.105357 3.73478 0 4 0ZM0.292893 9.29289C0.683417 8.90237 1.31658 8.90237 1.70711 9.29289L4 11.5858L6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289C8.09763 9.68342 8.09763 10.3166 7.70711 10.7071L4.70711 13.7071C4.31658 14.0976 3.68342 14.0976 3.29289 13.7071L0.292893 10.7071C-0.0976311 10.3166 -0.0976311 9.68342 0.292893 9.29289Z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gf-icon-ctrl-select: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.097631 1.31658 -0.097631 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5.70711 5.70711C5.31658 6.09763 4.68342 6.09763 4.29289 5.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gf-icon-ctrl-search: url("data:image/svg+xml,%3Csvg width='640' height='640' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256 128c-70.692 0-128 57.308-128 128 0 70.691 57.308 128 128 128 70.691 0 128-57.309 128-128 0-70.692-57.309-128-128-128zM64 256c0-106.039 85.961-192 192-192s192 85.961 192 192c0 41.466-13.146 79.863-35.498 111.248l154.125 154.125c12.496 12.496 12.496 32.758 0 45.254s-32.758 12.496-45.254 0L367.248 412.502C335.862 434.854 297.467 448 256 448c-106.039 0-192-85.962-192-192z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gf-label-space-y-secondary: var(--gf-label-space-y-md-secondary);--gf-ctrl-border-color: #686e77;--gf-ctrl-size: var(--gf-ctrl-size-md);--gf-ctrl-label-color-primary: #112337;--gf-ctrl-label-color-secondary: #112337;--gf-ctrl-choice-size: var(--gf-ctrl-choice-size-md);--gf-ctrl-checkbox-check-size: var(--gf-ctrl-checkbox-check-size-md);--gf-ctrl-radio-check-size: var(--gf-ctrl-radio-check-size-md);--gf-ctrl-btn-font-size: var(--gf-ctrl-btn-font-size-md);--gf-ctrl-btn-padding-x: var(--gf-ctrl-btn-padding-x-md);--gf-ctrl-btn-size: var(--gf-ctrl-btn-size-md);--gf-ctrl-btn-border-color-secondary: #686e77;--gf-ctrl-file-btn-bg-color-hover: #EBEBEB;--gf-field-img-choice-size: var(--gf-field-img-choice-size-md);--gf-field-img-choice-card-space: var(--gf-field-img-choice-card-space-md);--gf-field-img-choice-check-ind-size: var(--gf-field-img-choice-check-ind-size-md);--gf-field-img-choice-check-ind-icon-size: var(--gf-field-img-choice-check-ind-icon-size-md);--gf-field-pg-steps-number-color: rgba(17, 35, 55, 0.8);}</style><div class="gform_anchor" id="gf_2" tabindex="-1"></div><form action="/pricing/?simply_static_page=8645#gf_2" class="subscribe-form" data-formid="2" enctype="multipart/form-data" id="gform_2" method="post" novalidate="" target="gform_ajax_frame_2"><div class="gf_invisible ginput_recaptchav3" data-sitekey="6LfPm1spAAAAAH53IvP6pykD-RbA2f3EKlWcbLSu" data-tabindex="0"><input class="gfield_recaptcha_response" id="input_e2b319fd2e41264554e8d155ce5222e0" name="input_e2b319fd2e41264554e8d155ce5222e0" type="hidden" value=""/></div>
<div class="gform-body gform_body"><div class="gform_fields top_label form_sublabel_below description_below validation_below" id="gform_fields_2"><div class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below field_validation_below gfield_visibility_visible" id="field_2_2"><label class="gfield_label gform-field-label" for="input_2_2">LinkedIn</label><div class="ginput_container"><input autocomplete="new-password" id="input_2_2" name="input_2" type="text" value=""/></div><div class="gfield_description" id="gfield_description_2_2">This field is for validation purposes and should be left unchanged.</div></div><div class="gfield gfield--type-email gfield--input-type-email gfield--width-full field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible" id="field_2_1"><label class="gfield_label gform-field-label" for="input_2_1">Email</label><div class="ginput_container ginput_container_email">
<input aria-invalid="false" class="large" id="input_2_1" name="input_1" placeholder="yourname@email.com" type="email" value=""/>
</div></div></div></div>
<div class="gform-footer gform_footer top_label"> <input class="gform_button button gform-button--width-full" data-submission-type="submit" id="gform_submit_button_2" onclick="gform.submission.handleButtonClick(this);" type="submit" value="SUBSCRIBE"/> <input name="gform_ajax" type="hidden" value="form_id=2&amp;title=&amp;description=&amp;tabindex=0&amp;theme=orbital&amp;styles=[]&amp;hash=afd68e735dace7bef149fe10d4219d89"/>
<input class="gform_hidden" data-js="gform_submission_method_2" name="gform_submission_method" type="hidden" value="iframe"/>
<input class="gform_hidden" data-js="gform_theme_2" id="gform_theme_2" name="gform_theme" type="hidden" value="orbital"/>
<input class="gform_hidden" data-js="gform_style_settings_2" id="gform_style_settings_2" name="gform_style_settings" type="hidden" value="[]"/>
<input class="gform_hidden" name="is_submit_2" type="hidden" value="1"/>
<input class="gform_hidden" name="gform_submit" type="hidden" value="2"/>
<input class="gform_hidden" name="gform_unique_id" type="hidden" value=""/>
<input class="gform_hidden" name="state_2" type="hidden" value="WyJbXSIsIjFmYjYyZGU5ODFiMGUzNjY4MWM2ZTU0MDMxMzRkMTBjIl0="/>
<input autocomplete="off" class="gform_hidden" id="gform_target_page_number_2" name="gform_target_page_number_2" type="hidden" value="0"/>
<input autocomplete="off" class="gform_hidden" id="gform_source_page_number_2" name="gform_source_page_number_2" type="hidden" value="1"/>
<input name="gform_field_values" type="hidden" value=""/>
</div>
</form>
</div>
<iframe id="gform_ajax_frame_2" name="gform_ajax_frame_2" src="about:blank" style="display:none;width:0px;height:0px;" title="This iframe contains the logic required to handle Ajax powered Gravity Forms."></iframe>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<div class="wpb_text_column wpb_content_element vc_custom_1717956560006">
<div class="wpb_wrapper">
<p class="text-dimmer" style="color: #fff; font-size: 14px; margin-top: 6px;">Read our <a href="/terms-and-conditions/" style="color: #fff; text-decoration: underline; font-weight: bold;">Terms &amp; Conditions</a> before signing up.</p>
</div>
</div></div></div></div></div>
</div>
</div>
</div></div>
<div class="vc_row-full-width vc_clearfix"></div>
</div> </div>
</div>
</section>

  </main>
</BaseLayout>
