---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
import ProcessSection from "../components/ProcessSection.astro";
import LetsTalkHoursSection from "../components/LetsTalkHoursSection.astro";
import SubscribeOverlaySection from "../components/SubscribeOverlaySection.astro";
---

<BaseLayout>
    <title slot="head">Pricing | Jen Shawgo Nutrition</title>
    <PageHero
        title="Pricing & Packages"
        subtitle="“Your health is a priceless investment, not an expense.” Unknown"
        image="/wp-content/uploads/2024/05/pricing-header-scaled.jpg"
    />
    <main class="main__content">
        <section class="col-md-12 col-sm-12 col-xs-12 allow-gutenberg">
            <div class="row">
                <div class="container">
                    <div class="wpb-content-wrapper">
                        <ProcessSection />
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div
                            data-vc-full-width="true"
                            data-vc-full-width-init="false"
                            class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961885046ec7 vc_custom_1716244961859 vc_row-has-fill row-z-index-6961885046ec7"
                        >
                            <div
                                class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-69618850470a6"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1604060220689"
                                >
                                    <div class="wpb_wrapper">
                                        <div
                                            class="vc_row wpb_row vc_inner vc_row-fluid"
                                        >
                                            <div
                                                class="wpb_column vc_column_container vc_col-sm-2 vc_col-lg-3 vc_col-md-2"
                                            >
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                    </div>
                                                </div>
                                            </div><div
                                                class="text-center wpb_column vc_column_container vc_col-sm-8 vc_col-lg-6 vc_col-md-8"
                                            >
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <style>
                                                            #slcr_custom_heading_696188504758e {
                                                                font-size: 14px;
                                                                color: #574142;
                                                                line-height: 1.2;
                                                                text-align: center;
                                                            }
                                                        </style><p
                                                            id="slcr_custom_heading_696188504758e"
                                                            class="vc_custom_heading sub-heading single middle font-800"
                                                        >
                                                            Pricing
                                                        </p><style>
                                                            #slcr_custom_heading_696188504765a {
                                                                font-size: 33px;
                                                                line-height: 43px;
                                                                text-align: center;
                                                            }
                                                        </style><h2
                                                            id="slcr_custom_heading_696188504765a"
                                                            class="vc_custom_heading font-700"
                                                        >
                                                            Simple prices,
                                                            flexible options,
                                                            &amp; nothing
                                                            hidden.
                                                        </h2><div
                                                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text wpb_content_element wpb_content_element"
                                                        >
                                                            <span
                                                                class="vc_sep_holder vc_sep_holder_l"
                                                                ><span
                                                                    style="border-color:#574142;"
                                                                    class="vc_sep_line"
                                                                >
                                                                </span></span
                                                            ><span
                                                                class="vc_sep_holder vc_sep_holder_r"
                                                                ><span
                                                                    style="border-color:#574142;"
                                                                    class="vc_sep_line"
                                                                >
                                                                </span></span
                                                            >
                                                        </div><style>
                                                            #slcr_custom_heading_6961885047851 {
                                                                text-align: center;
                                                            }
                                                        </style><p
                                                            id="slcr_custom_heading_6961885047851"
                                                            class="vc_custom_heading content-hide vc_custom_1749853330893 font-400"
                                                        >
                                                            Many clients pay $0
                                                            out of pocket with
                                                            in-network coverage
                                                            from Aetna and
                                                            United Healthcare,
                                                            with more plans
                                                            coming soon!<br />
                                                            No insurance? No problem!<br
                                                            />
                                                            Affordable self-pay rates
                                                            and discounted packages
                                                            are available, with multiple
                                                            payment options including
                                                            HSA/FSA.<br />
                                                            No insurance? No problem!<br
                                                            />
                                                            Affordable self-pay rates
                                                            and discounted packages
                                                            are available to help
                                                            make expert nutrition
                                                            support accessible to
                                                            everyone, with multiple
                                                            payment options available,
                                                            including HSA/FSA accounts.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div><div
                                                class="wpb_column vc_column_container vc_col-sm-3"
                                            >
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div
                                            class="vc_row wpb_row vc_inner vc_row-fluid"
                                        >
                                            <div
                                                class="wpb_column vc_column_container vc_col-sm-2"
                                            >
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                    </div>
                                                </div>
                                            </div><style>
                                                .slcr_custom_price_list_item_css6961885047e38 {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e38
                                                    .wrap
                                                    .item-name {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e38
                                                    .wrap
                                                    .item-price {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e38
                                                    p {
                                                }
                                            </style><style>
                                                .slcr_custom_price_list_item_css6961885047e6b {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e6b
                                                    .wrap
                                                    .item-name {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e6b
                                                    .wrap
                                                    .item-price {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e6b
                                                    p {
                                                }
                                            </style><style>
                                                .slcr_custom_price_list_item_css6961885047e91 {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e91
                                                    .wrap
                                                    .item-name {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e91
                                                    .wrap
                                                    .item-price {
                                                }
                                                .slcr_custom_price_list_item_css6961885047e91
                                                    p {
                                                }
                                            </style><div
                                                class="wpb_column vc_column_container vc_col-sm-8"
                                            >
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div
                                                            class="vc_wp_text wpb_content_element"
                                                        >
                                                            <div
                                                                class="widget widget_text"
                                                            >
                                                                <div
                                                                    class="textwidget"
                                                                >
                                                                    <p>
                                                                        Many
                                                                        clients
                                                                        pay $0
                                                                        out-of-pocket
                                                                        with
                                                                        coverage
                                                                        from
                                                                        Aetna,
                                                                        BCBS, or
                                                                        United
                                                                        Healthcare.
                                                                        Benefit
                                                                        checks
                                                                        are
                                                                        risk-free
                                                                        and
                                                                        included
                                                                        with
                                                                        Discovery
                                                                        Calls.
                                                                        Coverage
                                                                        varies
                                                                        by plan
                                                                        and is
                                                                        clearly
                                                                        explained
                                                                        upfront
                                                                        for your
                                                                        peace of
                                                                        mind.
                                                                    </p>
                                                                    <p>
                                                                        No
                                                                        insurance
                                                                        coverage?
                                                                        No
                                                                        problem! Affordable
                                                                        self-pay
                                                                        rates
                                                                        and
                                                                        discounted
                                                                        packages
                                                                        are
                                                                        available,
                                                                        with
                                                                        multiple
                                                                        payment
                                                                        options
                                                                        including
                                                                        HSA/FSA.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="slcr_price_list"
                                                        >
                                                            <div
                                                                class="price-list type-2 slcr_custom_price_list_item_css6961885047e38"
                                                            >
                                                                <div
                                                                    class="wrap"
                                                                >
                                                                    <h5
                                                                        class="item-name"
                                                                    >
                                                                        Initial
                                                                        Consultation
                                                                    </h5>
                                                                    <div
                                                                        class="item-price"
                                                                    >
                                                                        $180.00
                                                                    </div>
                                                                </div>
                                                                <p
                                                                    class="item-description"
                                                                >
                                                                    An in-depth
                                                                    session to
                                                                    review your
                                                                    health
                                                                    history,
                                                                    address
                                                                    concerns,
                                                                    and
                                                                    establish
                                                                    goals
                                                                    through a
                                                                    comprehensive
                                                                    nutritional
                                                                    health
                                                                    assessment.
                                                                    90 minute
                                                                    session
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="price-list type-2 slcr_custom_price_list_item_css6961885047e6b"
                                                            >
                                                                <div
                                                                    class="wrap"
                                                                >
                                                                    <h5
                                                                        class="item-name"
                                                                    >
                                                                        Follow-up
                                                                        Session
                                                                    </h5>
                                                                    <div
                                                                        class="item-price"
                                                                    >
                                                                        $60.00 /
                                                                        $120.00
                                                                    </div>
                                                                </div>
                                                                <p
                                                                    class="item-description"
                                                                >
                                                                    Ongoing
                                                                    reassessment,
                                                                    support, and
                                                                    education to
                                                                    help you
                                                                    succeed and
                                                                    achieve your
                                                                    nutritional
                                                                    health and
                                                                    wellness
                                                                    goals. 30 or
                                                                    60 minute
                                                                    sessions
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="price-list type-2 slcr_custom_price_list_item_css6961885047e91"
                                                            >
                                                                <div
                                                                    class="wrap"
                                                                >
                                                                    <h5
                                                                        class="item-name"
                                                                    >
                                                                        Total
                                                                        Wellness
                                                                        Kickstart
                                                                        (save
                                                                        10%)
                                                                    </h5>
                                                                    <div
                                                                        class="item-price"
                                                                    >
                                                                        $864.00
                                                                        (regularly
                                                                        $960)
                                                                    </div>
                                                                </div>
                                                                <p
                                                                    class="item-description"
                                                                >
                                                                    The perfect
                                                                    way to
                                                                    jumpstart
                                                                    your health
                                                                    journey!
                                                                    This package
                                                                    provides
                                                                    everything
                                                                    you need to
                                                                    get started
                                                                    on your way
                                                                    to wellness
                                                                    and
                                                                    includes: 1,
                                                                    90-minute
                                                                    initial
                                                                    consultation
                                                                    and 6,
                                                                    60-minute
                                                                    follow-up
                                                                    sessions.
                                                                    Option to
                                                                    pay in 3
                                                                    monthly
                                                                    installments
                                                                    of just
                                                                    $270/month.
                                                                </p>
                                                            </div>
                                                        </div><div
                                                            class="vc_empty_space"
                                                            style="height: 32px"
                                                        >
                                                            <span
                                                                class="vc_empty_space_inner"
                                                            ></span>
                                                        </div><div
                                                            class="wpb_text_column wpb_content_element"
                                                        >
                                                            <div
                                                                class="wpb_wrapper"
                                                            >
                                                                <p
                                                                    style="text-align: center;"
                                                                >
                                                                    <span
                                                                        style="font-weight: 400;"
                                                                        >*Nutritionally-focused
                                                                        laboratory
                                                                        testing
                                                                        is
                                                                        available
                                                                        at an
                                                                        additional
                                                                        upfront
                                                                        cost and
                                                                        availability
                                                                        may vary
                                                                        by
                                                                        state.</span
                                                                    >
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div
                                                class="wpb_column vc_column_container vc_col-sm-2"
                                            >
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div
                            data-vc-full-width="true"
                            data-vc-full-width-init="false"
                            class="vc_row wpb_row vc_row-fluid content-dark data-bg-color-6961885048201 vc_custom_1717100116338 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex row-z-index-6961885048201"
                        >
                            <div
                                class="wpb_column vc_column_container content-dark vc_col-sm-12 column-z-index-696188504833c"
                            >
                                <div
                                    class="vc_column-inner vc_custom_1604126572727"
                                >
                                    <div class="wpb_wrapper">
                                        <div
                                            class="vc_row wpb_row vc_inner vc_row-fluid"
                                        >
                                            <div
                                                class="wpb_column vc_column_container vc_col-sm-12"
                                            >
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <style>
                                                            #slcr_custom_heading_69618850486f8 {
                                                                font-size: 23px;
                                                                color: #574142;
                                                                text-align: center;
                                                                letter-spacing: 1px;
                                                            }
                                                        </style><h2
                                                            id="slcr_custom_heading_69618850486f8"
                                                            class="vc_custom_heading center-xs vc_custom_1716420790832 font-800"
                                                        >
                                                            Accepted payment
                                                            methods:
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div
                                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_10 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text vc_custom_1716420786062 wpb_content_element vc_custom_1716420786062 wpb_content_element"
                                        >
                                            <span
                                                class="vc_sep_holder vc_sep_holder_l"
                                                ><span
                                                    style="border-color:#a80226;"
                                                    class="vc_sep_line"
                                                ></span></span
                                            ><span
                                                class="vc_sep_holder vc_sep_holder_r"
                                                ><span
                                                    style="border-color:#a80226;"
                                                    class="vc_sep_line"
                                                ></span></span
                                            >
                                        </div>
                                        <div
                                            class="owl owl-carousel carousel-shortcode"
                                            data-carousel-loop="false"
                                            data-carousel-dots="true"
                                            data-carousel-margin="30"
                                            data-carousel-autoplay="false"
                                            data-carousel-responsiveClass="true"
                                            data-carousel-stage-padding="0"
                                            data-carousel-ani-i=""
                                            data-carousel-ani-o=""
                                            data-carousel-animateIn=""
                                            data-carousel-animateOut=""
                                            data-carousel-smartspeed="850"
                                            data-carousel-items-mob="2"
                                            data-carousel-items-tab="5"
                                            data-carousel-items-pc="7"
                                            data-carousel-nav-mob="true"
                                            data-carousel-nav-tab="true"
                                            data-carousel-nav-pc="false"
                                            data-carousel-dots-mob="false"
                                            data-carousel-dots-tab="false"
                                            data-carousel-dots-pc="false"
                                        >
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235057095"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            decoding="async"
                                                            width="151"
                                                            height="81"
                                                            src="/wp-content/uploads/2024/05/Visa.png"
                                                            class="vc_single_image-img attachment-full"
                                                            alt="Visa logo"
                                                            title="Visa"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235095958"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            decoding="async"
                                                            width="151"
                                                            height="81"
                                                            src="/wp-content/uploads/2024/05/Mastercard.png"
                                                            class="vc_single_image-img attachment-full"
                                                            alt="Mastercard logo"
                                                            title="Mastercard"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235108251"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            decoding="async"
                                                            width="151"
                                                            height="81"
                                                            src="/wp-content/uploads/2024/05/Amex.png"
                                                            class="vc_single_image-img attachment-full"
                                                            alt="American Express logo"
                                                            title="Amex"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235119626"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            decoding="async"
                                                            width="151"
                                                            height="81"
                                                            src="/wp-content/uploads/2024/05/Discover.png"
                                                            class="vc_single_image-img attachment-full"
                                                            alt="Discover card logo"
                                                            title="Discover"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235130192"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            decoding="async"
                                                            width="152"
                                                            height="83"
                                                            src="/wp-content/uploads/2024/05/debit.png"
                                                            class="vc_single_image-img attachment-full"
                                                            alt="Debit payments accepted"
                                                            title="debit"
                                                            srcset="/wp-content/uploads/2024/05/debit.png 152w, /wp-content/uploads/2024/05/debit-150x83.png 150w"
                                                            sizes="auto, (max-width: 152px) 100vw, 152px"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235173381"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            decoding="async"
                                                            width="153"
                                                            height="83"
                                                            src="/wp-content/uploads/2024/05/HSA.png"
                                                            class="vc_single_image-img attachment-full"
                                                            alt="HSA Payment accepted"
                                                            title="HSA"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                            <div
                                                class="wpb_single_image wpb_content_element vc_align_center vc_custom_1716235183066"
                                            >
                                                <figure
                                                    class="wpb_wrapper vc_figure"
                                                >
                                                    <div
                                                        class="vc_single_image-wrapper vc_box_border_grey"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            decoding="async"
                                                            width="153"
                                                            height="83"
                                                            src="/wp-content/uploads/2024/05/FSA.png"
                                                            class="vc_single_image-img attachment-full"
                                                            alt="FSA payment accepted"
                                                            title="FSA"
                                                        />
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <LetsTalkHoursSection backgroundColor="#fffff" borderTopWidth={0} borderBottomWidth={0} borderStyle="none"/>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <SubscribeOverlaySection />
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BlOG CONTAINER ENDS -->
    </main>
</BaseLayout>
