<footer class="footer__cont slcr-sidebar col__4" data-bg-overlay="0" data-footer-layout="first" data-footer-scheme="dark" data-social-location="default" data-widget-align="left">
<div class="footer__main">
<div class="container no-padding">
<div class="widget__area">
<div class="widget__wrap">
<div class="footer__logo">
<img alt="logo" src="/wp-content/uploads/2024/05/logo_horizontal_white_background.png"/>
</div> <div class="footer__desc">
<p>Feel better &amp; live well with personalized, functional nutrition care.            </p>
</div>
<ul class="footer__social">
<li>
<a href="https://www.facebook.com/jenshawgonutrition/" target="_blank"><i class="socicon-facebook"></i></a>
</li>
<li>
<a href="https://www.instagram.com/jenshawgonutrition" target="_blank"><i class="socicon-instagram"></i></a>
</li>
<li>
<a href="/cdn-cgi/l/email-protection#9ef7f0f8f1def4fbf0edf6ffe9f9f1f0ebeaecf7eaf7f1f0b0fdf1f3"><i class="socicon-mail"></i></a>
</li>
</ul>
</div>
</div>
<div class="widget__area">
<div class="widget__wrap">
<div class="widget-content widget widget_block" id="block-7"><h3 class="widget-title">Connect</h3>
<div class="footer__contact call">
<i class="icon icon_clock"></i>
<p>
<span class="font-700">Tues - Fri:</span><br/>
<span>By appointment only.</span>
</p>
</div>
<!-- <div class="footer__contact call">
	<a href="mailto:info@jenshawgonutrition.com">
		<i class="icon icon_mail"></i>
		<p>
			<span class="font-700">Mail:</span> 
			info@jenshawgonutrition.com
		</p>
	</a>
</div> -->
<div class="footer__contact call">
<a href="https://us.fullscript.com/welcome/jshawgo" target="_blank">
<i class="icon icon_documents_alt"></i>
<p><span class="font-700">Order Supplements:</span> Fullscript</p>
</a>
</div></div> </div>
</div>
<div class="widget__area">
<div class="widget__wrap">
<div class="widget-content widget widget_block" id="block-11"><h3 class="widget-title">Services Offered</h3>
<ul>
<li>Personalized Nutrition Planning</li>
<li>Nutrition Coaching and Counseling</li>
<li>Ongoing Support &amp; Accountability</li>
<li>Functional Lab Testing</li>
<li>Supplement Guidance</li>
</ul>
</div> </div>
</div>
<div class="widget__area">
<div class="widget__wrap">
<div class="widget-content widget widget_block" id="block-9"><h3 class="widget-title">Book Appointment</h3>
<a class="btn btn--lg font-800 btn--rounded btn--footer" href="https://booking.jenshawgonutrition.com/" target="_blank" title="BOOK NOW"> <span>BOOK NOW</span> </a>
<p style="font-size: 15px;">If you are a prospective client needing more information or a provider looking to coordinate care for your patient, <a href="/contact-us/">contact us</a> or book your free discovery call above.</p></div> </div>
</div>
</div>
</div>
<div class="footer__bottom">
<div class="container">
<div class="copyright__text">
<ul class="custom-footer-menu">
<li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
<li><a href="/disclaimer/">Disclaimer</a></li>
<li><a href="/privacy-policy/" rel="privacy-policy">Privacy Policy</a></li>
</ul>
<p class="disclaimer"><span>Disclaimer:</span> Information provided on this website is for informational purposes only and is not intended to replace the care provided by trained medical professionals.</p><p> © 2026 - Jen Shawgo Nutrition                    </p></div>
</div>
</div>
</footer>