body.login{
	background: #ede7df!important;
    color: #000000 !important;
}

body.login .message, 
body.login .notice, 
body.login .success {
    border-left: 4px solid #a80226;
}

body.login h1 a:focus {
    color: #a80226;
}

body.login form{
	border: 1px solid #A80226 !important;
}

body.login form input:focus {
    border-color: #a80226;
    box-shadow: 0 0 0 1px #a80226;
    outline: 2px solid transparent;
}

body.login form #wp-submit{
	background: #574142;
    border-color: #574142;
}

body.login form #wp-submit:hover{
	background: #a80226;
    border-color: #a80226;
}

body.login .button.wp-hide-pw{
	color: #574142;
}

body.login .button.wp-hide-pw:hover{
	color: #a80226;
}

body.login a{
	color: #A80226 !important;
}

body.login a:hover{
	color: #000000 !important;
}