---
import CommonHead from "../components/CommonHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const props = Astro.props ?? {};
const bodyClass =
  props.bodyClass ??
  "wp-theme-psychare wp-child-theme-psychare-child smooth__links wpb-js-composer js-comp-ver-8.7 vc_responsive";
// Keep a WP-compatible ajax URL available for theme scripts.
// We serve a local stub at /wp-admin/admin-ajax.php so dev/prod don't hard-depend on WordPress.
const ajaxUrl = props.ajaxUrl ?? "/wp-admin/admin-ajax.php";

const recaptchaKey = import.meta.env.PUBLIC_RECAPTCHA_SITEKEY;
---
<!doctype html>
<html data-recaptcha-sitekey={import.meta.env.PUBLIC_RECAPTCHA_SITEKEY ?? ""}>
  <head>
    <slot name="head" />
    <CommonHead />
     {recaptchaKey && (
      <script
        is:inline
        src={`https://www.google.com/recaptcha/api.js?render=${recaptchaKey}`}
      ></script>
    )}
  </head>
  <body class={bodyClass} data-ajax-url={ajaxUrl}>
    <!-- WP theme preloader (expected by theme JS) -->
    <div class="load__wrapper" data-preloader-position="center">
      <img src="/wp-content/uploads/2024/05/white-rings-color-background.png" class="preloader__image" alt="preloader" />
    </div>

    <Header />
    <slot />
    <Footer />
    <!-- Keep Astro-side runtime last. Theme scripts are included in Footer. -->
  </body>
</html>
